<div class="ibox-content">
  <div class="form-horizontal">
    <div class="form-group" cms-title-editor></div>
    <div class="form-group" cms-title-picture></div>
    <div class="form-group">
      <div class="col-sm-12">
        <form method="post">
          <textarea ui-tinymce="cms.tinymceOptions" ng-model="cms.createForm.text"></textarea>
          <input id="editorImage" type="file" file-model="imageFile" style="width:0px;height:0;overflow:hidden"/>
        </form>
      </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="form-group" crm-tags-editor ng-if="!cms.page"></div>
    <div class="hr-line-solid" ng-if="!cms.page"></div>
    <div class="form-group text-right">
      <div class="col-sm-12">
        <button  ng-click="cms.cancel()" class="btn btn-white" style="margin-right: 10px;">{{ 'Cancel' | translate }}</button>
        <button type="button"
                ng-click="cms.submit()"
                class="btn btn-primary"
                aria-hidden="false">
          {{ 'Submit' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
