<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th style="width:40px">
      <input class="green-check" type="checkbox" style="margin-left:10px;"></th>
    <th>{{'Title' | translate}}</th>
    <th>{{'Author' | translate}}<a class="list-refresh" href=""> <i class="fa fa-sort"></i></a></th>
    <th>{{'Tags' | translate}}</th>
    <th>{{'Date' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="nw in cms.news">
    <td><input class="green-check" type="checkbox" style="margin-left:10px;" ></td>
    <td uib-tooltip="{{ nw.title }}">
      <a ng-click="cms.editArticle(nw)">{{ nw.title }}</a>
    </td>
    <td>{{ nw.author }}</td>
    <td>{{ nw.tags }}</td>
    <td>{{ cms.convertToDate(nw.date) }}</td>
  </tr>
  </tbody>
</table>
