<!-- Sort -->
<div class="form-group col-md-6 col-lg-3" crm-news-list-sort></div>
<table class="table table-striped table-hover" ng-controller="CmsCtrl as cms">
  <thead>
  <tr>
    <th style="width:40px"></th>
    <th ng-repeat="(name, field) in ::fields" ng-if="field.active">
      <span ng-bind="::field.title | translate"></span>
      <a class="fa" href role="button" title="{{ 'Change sort ordering' | translate }}"
         ng-class="'fa-sort-amount-' + params.order"
         ng-show="name === params.sort"
         ng-click="params.order = params.order === 'asc' ? 'desc' : 'asc'">
      </a>
    </th>
  </tr>
  </thead>
  <tbody ng-show="loadStats.list === 1">
  <tr ng-repeat="nw in news.data">
    <td><input class="green-check" type="checkbox" style="margin-left:10px;" ></td>
    <td>
      <a ng-click="cms.editNews(nw)">{{ nw.title }}</a>
    </td>
    <td>{{ cms.displayAuthor(nw.author) }}</td>
    <td>{{ nw.tags }}</td>
    <td>{{ cms.displayDate(nw) }}</td>
  </tr>
  </tbody>
</table>
