.DS_Store
.tmp/*
dist/*
.gitignore
node_modules/*
bower_components/*
.kdev4/*
.kdev5/*
npm-debug.log
*.swp

asdfbs fnsdbfmnsdbf sndfbgjkshdfb gkjshfbgjksdhfgbsjk dbgsjkdfhbg ksjdhfbg ksjdfhbgjksdhfbgsdjfhgbsjdfhbgjdfhbgjdfhbgjdhfbgjhdfbgjdfhbgjdfhbgjdfhgbjdfhbhdbfgjdhfbgjdfhgbdfjhgbsfhgsdfg
sdfgs
dfg
sdfgsdf dkdjsfbn skldjfblksjdfblskdjflskjfdlskfdjblsdkjfbnslkdjfbnlksdfbnlsfkdjbnkdkfjbndkfbjkfjnb