<div class="wrapper wrapper-content" ng-controller="ClientsCtrl">
  <div class="row">
    <!--EMPLOYEE PAGE start-->
    <div ng-class="{'col-sm-12' : page.mode == 0, 'hidden-xs hidden-sm hidden-md col-lg-7 col-xl-8' : page.mode == 1, 'hidden-xs hidden-sm hidden-md col-lg-4 col-xl-3' : page.mode == 2}">
      <div class="ibox">
        <div class="ibox-content">
          <!--BUTTONS start-->
          <!--settings btn-->
          <div class="btn-group pull-right m-l-sm" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-sm btn-white m-l-sm" uib-dropdown-toggle ng-disabled="disabled">
              <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href></a></li>
              <li role="menuitem"><a href>Assign ticket</a></li>
              <li role="menuitem"><a href ng-click="assignRoleAction(currentEmp)">Assign delegate role</a></li>
              <li role="menuitem"><a href>Send email</a></li>
              <li role="menuitem"><a href>Export in exel</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href ng-click="delete()">Delete client</a></li>
            </ul>
          </div>


          <!--create user btn-->
          <button ng-click="createClientAction()" type="button" class="btn btn-sm btn-primary pull-right" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-user-plus"></i> {{ 'Create client' | translate }}
          </button>
          <!--BUTTONS end-->

          <h2>{{ 'Clients' | translate }}</h2>

          <!--FILTERS start-->
          <!--main search-->
          <div class="input-group col-md-12 m-b-sm">
            <input type="text" placeholder="Search names, emails or telephone numbers..." class="input form-control" ng-model="searchTerm"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-default"> <i class="fa fa-close"></i></button>

            </span>

          </div>


          <!--btns-->
          <button type="button" ng-click="isCollapsed = true"  ng-hide="isCollapsed==true" class="btn btn-primary">
            <i class="fa fa-eye" style="padding-right:5px;"></i>Show filters
          </button>

          <button type="button" ng-click="isCollapsed = false" ng-hide="isCollapsed==false" class="btn btn-warning">
            <i class="fa fa-eye-slash" style="padding-right:5px;"></i>Hide filters
          </button>

          <button type="button" ng-click="filterClear" ng-hide="isCollapsed==false" class="btn btn-info">
            <i class="fa fa-trash" style="padding-right:5px;"></i>Clear filters
          </button>

          <button type="button" class="btn btn-info" ng-hide="isCollapsed==false">
            <i class="fa fa-floppy-o" style="padding-right:5px;"></i>Save filters
          </button>
          <!--advanced filters start-->
          <div ng-if="isCollapsed">
            <!--top search fields-->
            <form role="form" class="form-inline" style="padding-top:20px;">

              <!--union-->
              <div class="form-group" style="margin-right:10px; float: left">
                <h4>{{ 'Union' | translate }}</h4>
                <div class="input-group">
                  <input id="unionFilter" type="text" ng-model="currentFilters.union" uib-typeahead="union as union.name for union in mycp.unions | filter:$viewValue | limitTo:8" class="form-control" placeholder="{{ 'Union' | translate }}" value="{{filter.unions[1].name}}">
                  </div>

                  <ul>
                    <li ng-repeat="union in filter.unions" ng-if="" ng-repeat-end>{{union.name}}</li>
                  </ul>
                </div>

                <!--position-->
                <div class="form-group" style="margin-right:10px;">
                  <h4>Position</h4>
                  <div class="input-group">
                    <input type="text" placeholder="Position..." class="form-control" />
                  </div>
                </div>

                <!--department-->
                <div class="form-group" style="margin-right:10px;">
                  <h4>Department</h4>
                  <div class="input-group">
                    <input type="text" placeholder="Department..." class="form-control" />
                  </div>
                </div>

                <!--shift-->
                <div class="form-group" style="margin-right:10px;">
                  <h4>Shift</h4>
                  <div class="input-group">
                    <input type="text" placeholder="Shift..." class="form-control" />
                  </div>
                </div>

              </form>
            </div>
            <!--advanced filters end-->
            <div class="clients-list">

            <div class="text-center" ng-if="!page.loaded" >
              <div class="sk-spinner sk-spinner-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
            </div>

              <!--TABS start-->
              <ul class="nav nav-tabs" ng-show="page.loaded">
                <li ng-class="{'active' : tab == 1}" ng-init="tab = 1">
                  <!--<a ng-click="tab = 1" >
                    <i class="fa fa-users"></i>{{ 'Employees' | translate }}
                  </a>-->
                </li>
              </ul>

              <div class="tab-content" ng-show="page.loaded">

                <!--tab 1 content-->
                <div id="tab-1" class="tab-pane active" ng-show="tab == 1">
                  <div class="full-height-scroll" full-scroll>
                    <div class="table-responsive">
                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th class="text-center checktable">
                              <i class="fa fa-check"></i>
                            </th>
                            <th style="margin-left:5px;">{{ 'Client' | translate}}</th>
                            <!--<th style="width: 80px;">{{ 'Roles' | translate}}</th>-->
                            <th class="hidden-xs" ng-hide="page.mode == 2">{{ 'Email' | translate}}</th>
                            <th class="hidden-xs" ng-hide="page.mode == 2">{{ 'Phone Number' | translate}}</th>
                            <th class="hidden-xs hidden-sm hidden-md">{{ 'Company' | translate}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="client in clients" mode="{{page.mode}}">
                            <td><input type="checkbox" class="green-check" ng-model="client.selected"/></td>
                            <td>
                              <a ng-click="openClient(client)">{{client.contactProfile.firstname}} {{client.contactProfile.lastname}}</a>
                            </td>
                            <td ng-hide="page.mode == 2">{{client.contactProfile.email}}</td>
                            <td ng-hide="page.mode == 2">{{client.contactProfile.phoneNumberMobile}}</td>
                            <td>{{client.companyId}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!--PAGINATION start-->
                  <uib-pagination class="pull-right" total-items="totalItems"
                      ng-model="pageNr" items-per-page="pageSize" ng-change="changePage()"
                      max-size="10" boundary-link-numbers="true" rotate="true"></uib-pagination>
                  <!--PAGINATION end-->

                </div>

                <!--tab 2 content-->


                <!--<div id="tab-2" class="tab-pane active" ng-show="tab == 2">
                  <div class="full-height-scroll" full-scroll>
                    <div class="table-responsive">
                      <table class="table table-striped table-hover">
                        <tbody >

                          <tr ng-repeat-start="emp in employees" ng-if="emp.delegates.length > 0" class="tbname">
                            <td rowspan="{{emp.delegates.length + 1}}"><a ng-click="open(emp)" class="client-link">{{emp.user.contactProfile.firstname}} {{emp.user.contactProfile.lastname}}</a>
                            </td>
                          </tr>
                          <tr ng-repeat="role in emp.delegates">
                            <td><div>
                              <span class="label label-primary">{{role.name}}</span>
                            </div></td>
                            <td>{{timeConverter(role.startDate)}}</td>
                            <td>{{timeConverter(role.endDate)}}</td>
                            </tr>
                            <tr ng-repeat-end></tr>
                            <tr ng-repeat-end></tr>

                          </tbody>
                        </table>
                      </div>
                    </div>-->

                    <!--PAGINATION start-->
                    <!--<uib-pagination class="pull-right" total-items="totalDelegates"
                      ng-model="pageDl" items-per-page="pageSize" ng-change="changePage()"
                      max-size="10" boundary-link-numbers="true" rotate="true"></uib-pagination>-->

                        <!--Need make new ng model for delegates:
                            total-items="totalDelegates"
                            ng-model="pageDl" -->

                    <!--PAGINATION end-->

                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--EMPLOYEE PAGE end-->

        <!--NEW EMPLOYEE start-->

        <div ng-class="{'col-sm-12 col-lg-5 col-xl-4' : page.mode == 1, 'col-sm-12 col-md-12 col-lg-8 col-xl-9' : page.mode == 2}"  ng-show="page.mode == 1 || page.mode == 2">


          <div class="contact-box center-version col-xl-12" ng-if="currentClient.id == null">
            <div class="contact-box-top">
              <h4>Create new Client
                <button type="button" class="btn btn-sm btn-white pull-right" ng-click="defaultMode()"> <i class="fa fa-times"></i> </button>

              </h4>


            </div>

            <div class="panel-body contact-box center-version">
              <div class="col-sm-12">

              <ul class="list-group clear-list m-t-md" ng-show="userFormStep == 1">
                <li class="list-group-item fist-item">
                  <strong>CONTACT INFORMATION</strong>
                </li>
                <li class="list-group-item" ng-mouseenter="editName = true" ng-mouseleave="editName = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editNameAction}">
                      Full Name
                    </div>
                    <div class="col-sm-8">


                      <input type="text" ng-model="currentClient.contactProfile.firstname" placeholder="First name" class="form-control m-b-sm">
                      <input type="text" ng-model="currentClient.contactProfile.lastname" placeholder="Last name" class="form-control">


                    </div>
                  </div>

                </li>

                <li class="list-group-item" ng-mouseenter="editPhone = true" ng-mouseleave="editPhone = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editPhoneAction}">
                      {{'Phone' | translate}}
                    </div>
                    <div class="col-sm-8">


                      <input type="text" ng-model="currentClient.contactProfile.phoneNumberMobile" class="form-control m-b-sm">
                      <a><i class="fa fa-plus"></i>&nbsp;{{'Add another phone' | translate}}</a>

                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editEmail = true" ng-mouseleave="editEmail = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editEmailAction}">
                      {{'E-mail' | translate}}
                    </div>
                    <div class="col-sm-8">


                      <input type="text" ng-model="currentClient.contactProfile.email" class="form-control m-b-sm">
                      <a><i class="fa fa-plus"></i>&nbsp;{{'Add another e-mail' | translate}}</a>


                    </div>
                  </div>
                </li>


                <li class="list-group-item" ng-mouseenter="editAddress = true" ng-mouseleave="editAddress = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editAddressAction}">
                      Address
                    </div>
                    <div class="col-sm-8">

                      <textarea rows="3" style="width: 100%;border: 1px solid #E5E6E7;" ng-model="currentClient.contactProfile.address"></textarea>


                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editCity = true" ng-mouseleave="editCity = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editCityAction}">
                      City
                    </div>
                    <div class="col-sm-8">

                      <input style="width: 100%;border: 1px solid #E5E6E7;" ng-model="currentClient.contactProfile.city">


                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editZipCode = true" ng-mouseleave="editZipCode = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editCityAction}">
                      ZipCode
                    </div>
                    <div class="col-sm-8">

                      <input style="width: 100%;border: 1px solid #E5E6E7;" ng-model="currentClient.contactProfile.zipCode">


                    </div>
                  </div>
                </li>

              </ul>

              <div class="list-group pull-right">
                  <button type="button" class="btn btn-sm btn-default" ng-click="save(currentClient)"><i class="fa fa-floppy-o"></i> Create</button>

                  <button type="button" class="btn btn-sm btn-default" ng-click="defaultMode()"><i class="fa fa-chevron-left"></i> Cancel</button>
                </div>
              </div>
            </div>

          </div>

          <!-- Employee Tabs -->

          <div class="col-xl-12 tabs-container tooltip-demo" ng-show="currentClient.id">
            <div>
              <ul class="nav nav-tabs">

                <li uib-popover="{{ 'Info' | translate }}" popover-enable="page.mode == 1" popover-trigger="mouseenter" ng-init="subtab = 1" ng-class="{active:subtab == 1}">
                  <a data-toggle="tab" ng-click="subtab = 1" > <i class="fa fa-briefcase"></i>
                    <span ng-if="page.mode == 2">{{ 'Info' | translate }}</span></a></li>
                <li uib-popover="{{ 'Teams' | translate }}" popover-enable="page.mode == 1" popover-trigger="mouseenter"  ng-class="{active:subtab == 2}">
                  <a data-toggle="tab" ng-click="subtab = 2" > <i class="fa fa-user"></i>
                    <span ng-if="page.mode == 2">{{ 'Teams' | translate }}</span></a></li>
                <li uib-popover="{{ 'Tickets' | translate }}" popover-enable="page.mode == 1" popover-trigger="mouseenter"  ng-class="{active:subtab == 3}">
                  <a data-toggle="tab" ng-click="subtab = 3" > <i class="fa fa-check"></i>
                    <span ng-if="page.mode == 2">{{ 'Tickets' | translate }}</span></a></li>
                <li uib-popover="{{ 'Mail settings' | translate }}" popover-enable="page.mode == 1" popover-trigger="mouseenter"  ng-class="{active:subtab == 4}">
                  <a data-toggle="tab" ng-click="subtab = 4" > <i class="fa fa-envelope"></i>
                    <span ng-if="page.mode == 2">{{ 'Mail settings' | translate }}</span></a></li>


                <div class="pull-right">
                  <button type="button" class="btn btn-sm btn-white pull-right" ng-click="page.mode = 0" style="margin: 8px"> <i class="fa fa-times"></i> </button>


                  <button type="button" class="btn btn-sm btn-white pull-right"  ng-click="page.mode = 1" ng-show="page.mode == 2" style="margin: 8px"> <i class="fa fa-compress"></i> </button>

                  <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="deleteClient(currentClient)" style="margin: 8px pull-right"> <i class="fa fa-trash"></i> </button>

                  <button type="button" class="btn btn-sm btn-white pull-right"  ng-click="page.mode = 2" ng-show="page.mode == 1" style="margin: 8px"> <i class="fa fa-expand"></i> </button>



                </div>

                </ul>


                <button type="button" class="btn btn-w-m btn-primary btn-sm pull-right" ng-click="save(currentClient)" ng-show="editUser"><i class="fa fa-times"></i> Save</button>


            </div>
            <div class="tab-content panel-body contact-box center-version" style="border-top: none">
            <a class="p-n" ng-class="{'col-sm-12' : page.mode == 1, 'col-sm-6' : page.mode == 2}">

              <div class="col-sm-12">
                <img alt="image" class="img-circle" src="http://www.getitdone.org/assets/getitdone_userprofile_avatar_200-2ebbcf36868f1a66f6c9f2de131dba66.jpg">

                <h3 class="m-b-xs"><strong>{{currentClient.contactProfile.firstname}} {{currentClient.contactProfile.lastname}}</strong></h3>

                <div ng-hide="editUser" class="font-bold">{{currentEmp.union.name}}</div>




                <input ng-show="editUser" type="text" ng-model="currentEmp.union" uib-typeahead="union as union.name for union in mycp.unions | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">

              </div>

              <div class="col-xl-6 col-sm-12 m-t-lg hidden-xl">
                Active <br>
                Union <br>
                Status<br>
              </div>

            </a>



            <div class="p-t-sm" ng-class="{'col-sm-12' : page.mode == 1, 'col-sm-6' : page.mode == 2}" ng-show="subtab == 1">


              <ul class="list-group clear-list m-t-md">
                <li class="list-group-item fist-item">
                  <strong>CONTACT INFORMATION</strong>
                </li>
                <li class="list-group-item" ng-mouseenter="editName = true" ng-mouseleave="editName = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editNameAction}">
                      Full Name
                    </div>
                    <div class="col-sm-8">
                      <span ng-hide="page.editNameAction">{{currentClient.contactProfile.firstname}} {{currentClient.contactProfile.lastname}}</span>
                      <a  class="pull-right" ng-show="editName && !page.editNameAction" href ng-click="page.editNameAction = true"><i class="fa fa-pencil"></i> Edit </a>

                      <form role="form" ng-show="page.editNameAction">
                        <div class="form-group"><input type="text" ng-model="currentClient.contactProfile.firstname" placeholder="First name" class="form-control"></div>
                        <div class="form-group"><input type="text" ng-model="currentClient.contactProfile.lastname" placeholder="Last name" class="form-control"></div>
                        <div>
                          <div class="alert alert-danger alert-dismissable" ng-show="useralert">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button" ng-click="useralert = undefined">×</button>
                            {{useralert}}. <a class="alert-link">check</a>.
                          </div>
                          <button class="btn btn-sm btn-primary" ng-click="save(currentClient)">Save</button>
                          <button class="btn btn-sm btn-default" ng-click="page.editNameAction = false">Cancel</button>

                        </div>
                      </form>

                    </div>
                  </div>

                </li>

                <li class="list-group-item" ng-mouseenter="editPhone = true" ng-mouseleave="editPhone = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editPhoneAction}">
                      Phone Number
                    </div>
                    <div class="col-sm-8">
                      <span ng-hide="page.editPhoneAction">{{currentClient.contactProfile.phoneNumberMobile}}</span>
                      <a  class="pull-right" ng-show="editPhone && !page.editPhoneAction" href ng-click="page.editPhoneAction = true"><i class="fa fa-pencil"></i> Edit </a>

                      <form role="form" ng-show="page.editPhoneAction">
                        <div class="form-group">
                          <input type="text" ng-model="currentClient.contactProfile.phoneNumberMobile" class="form-control m-b-sm">
                          <a><i class="fa fa-plus"></i> Add another telefon </a>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-primary" ng-click="save(currentClient)">Save</button>
                          <button class="btn btn-sm btn-default" ng-click="page.editPhoneAction = false">Cancel</button>

                        </div>
                      </form>

                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editEmail = true" ng-mouseleave="editEmail = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editEmailAction}">
                      Email
                    </div>
                    <div class="col-sm-8">
                      <span ng-hide="page.editEmailAction">{{currentClient.contactProfile.email}}</span>
                      <a  class="pull-right" ng-show="editEmail && !page.editEmailAction" href ng-click="page.editEmailAction = true"><i class="fa fa-pencil"></i> Edit </a>

                      <form role="form" ng-show="page.editEmailAction">
                        <div class="form-group">
                          <input type="text" ng-model="currentClient.contactProfile.email" class="form-control m-b-sm">
                          <a><i class="fa fa-plus"></i> Add another e-post </a>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-primary" ng-click="save(currentClient)">{{ 'Save' | translate }}</button>
                          <button class="btn btn-sm btn-default" ng-click="page.editEmailAction = false">{{ 'Cancel' | translate }}</button>

                        </div>
                      </form>

                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editAddress = true" ng-mouseleave="editAddress = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editAddressAction}">
                      Address
                    </div>
                    <div class="col-sm-8">
                      <span ng-hide="page.editAddressAction">{{currentClient.contactProfile.address}}</span>
                      <a  class="pull-right" ng-show="editAddress && !page.editAddressAction" href ng-click="page.editAddressAction = true"><i class="fa fa-pencil"></i> Edit </a>

                      <form role="form" ng-show="page.editAddressAction">
                        <div class="form-group">
                          <textarea rows="4" style="width: 100%;border: 1px solid #E5E6E7;" ng-model="currentClient.contactProfile.address"></textarea>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-primary" ng-click="save(currentClient)">Save</button>
                          <button class="btn btn-sm btn-default" ng-click="page.editAddressAction = false">Cancel</button>

                        </div>
                      </form>

                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editCity = true" ng-mouseleave="editCity = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : page.editCityAction}">
                      City
                    </div>
                    <div class="col-sm-8">
                      <span ng-hide="page.editCityAction">{{currentClient.contactProfile.city}}</span>
                      <a  class="pull-right" ng-show="editCity && !page.editCityAction" href ng-click="page.editCityAction = true"><i class="fa fa-pencil"></i> Edit </a>

                      <form role="form" ng-show="page.editCityAction">
                        <div class="form-group">
                          <textarea rows="4" style="width: 100%;border: 1px solid #E5E6E7;" ng-model="currentClient.contactProfile.city"></textarea>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-primary" ng-click="save(currentClient)">Save</button>
                          <button class="btn btn-sm btn-default" ng-click="page.editCityAction = false">Cancel</button>

                        </div>
                      </form>

                    </div>
                  </div>
                </li>

                <li class="list-group-item" ng-mouseenter="editZipCode = true" ng-mouseleave="editZipCode = false">
                  <div class="row">
                    <div class="col-sm-4" ng-class="{'col-sm-12' : editZipCodeAction}">
                      ZipCode
                    </div>
                    <div class="col-sm-8">
                      <span ng-hide="page.editZipCodeAction">{{currentClient.contactProfile.zipCode}}</span>
                      <a  class="pull-right" ng-show="editZipCode && !page.editZipCodeAction" href ng-click="page.editZipCodeAction = true"><i class="fa fa-pencil"></i> Edit </a>

                      <form role="form" ng-show="page.editZipCodeAction">
                        <div class="form-group">
                          <textarea rows="4" style="width: 100%;border: 1px solid #E5E6E7;" ng-model="currentClient.contactProfile.zipCode"></textarea>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-primary" ng-click="save(currentClient)">Save</button>
                          <button class="btn btn-sm btn-default" ng-click="page.editZipCodeAction = false">Cancel</button>

                        </div>
                      </form>

                    </div>
                  </div>
                </li>

              </ul>
            </div>

            <div class="m-t-md" ng-class="{'col-sm-12' : page.mode == 1, 'col-sm-6' : page.mode == 2}" ng-show="subtab == 2">

              <ul class="list-group clear-list" ng-hide="editUser">

                <li class="list-group-item fist-item m-b-md">
                  <strong>{{ 'Teams' | translate }}</strong>

                  <span class="pull-right">
                    <a ng-click="addingDelegate = true"> <i class="fa fa-plus"></i> Assign</a>
                  </span>

                  <div>
                    <div class="m-t-md m-b-md">
                      <form role="form">
                        <div class="form-group">

                          <label class="font-noraml">{{ 'Team' | translate }}</label>

                          <input id="unionFilter" placeholder="Type role name.." type="text" ng-model="teams" uib-typeahead="union as union.name for union in mycp.delegates | filter:$viewValue | limitTo:8" class="form-control" typeahead-min-length="0">

                        </div>

                        <div class="form-group">
                          <label class="font-noraml">{{ 'Start date' | translate }}</label>

                          <div class="input-group">
                            <datepicker>
                              <input class="form-control" ng-model="user.startDate" type="text"/>
                            </datepicker>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="font-noraml">{{ 'End date' | translate }}</label>

                          <div class="input-group">
                            <datepicker>
                              <input class="form-control" ng-model="user.endDate" type="text"/>
                            </datepicker>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          </div>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-primary" ng-click=delegateRole(user)>Save</button>
                          <button class="btn btn-sm btn-default" ng-click="addingDelegate = false">Cancel</button>

                        </div>
                      </form>
                    </div>
                  </div>

                </li>
                <li class="list-group-item" ng-hide="currentEmp.delegates.length > 0">
                  No assigned roles, please add one
                </li>
                <li class="list-group-item" ng-repeat="role in currentEmp.delegates">
                  {{role.name}}<span class="pull-right">{{timeConverter(role.startDate)}} - {{timeConverter(role.endDate)}}</span>></td>
                </li>

              </ul>

            </div>


          </div>
          </div>
        </div>


      </div>
    </div>
