<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{userStr}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{companyStr}}<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Dashboard' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.mail"><i class="fa fa-envelope"></i> <span class="nav-label">{{ 'Mailbox' | translate }}</span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.employees"><i class="fa fa-users"></i> <span class="nav-label">{{ 'Employees' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.clients"><i class="fa fa-user"></i> <span class="nav-label">{{ 'Clients' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.teams"><i class="fa fa-users"></i> <span class="nav-label">{{ 'Teams' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.projects"><i class="fa fa-tasks"></i> <span class="nav-label">{{ 'Projects' | translate }}</span></a>
            </li>
            <li ng-class="{active: ('index.tickets' | includedByState) || ('index.ticket_item' | includedByState)}">
                <a ui-sref="index.tickets"><i class="fa fa-check"></i> <span class="nav-label">{{ 'Tickets' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.calendar"><i class="fa fa-calendar"></i> <span class="nav-label">{{ 'Calendar' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.docs"><i class="fa fa-file"></i> <span class="nav-label">{{ 'Docs' | translate }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.settings"><i class="fa fa-cog"></i> <span class="nav-label">{{ 'Settings' | translate }}</span></a>
            </li>

        </ul>

    </div>
</nav>
