<!-- Form box -->
<form name="form" class="ibox ticket-form col-xs-12 col-lg-8 p-l-none">
  <!-- Form title -->
  <div class="ibox-title clearfix">
    <a ui-sref="index.tickets.list()" class="btn btn-default pull-left" ><i class="fa fa-chevron-left"></i></a>
    <h3 class="ibox-title-text pull-left">{{ 'Create ticket' | translate }}</h3>
  </div>
  <!-- Form body -->
  <div class="ibox-content clearfix">
    <!-- Ticket title -->
    <div class="form-group ticket-form-group clearfix">
      <label class="ticket-form-label control-label col-xs-3">{{ 'Ticket name' | translate }}:</label>
      <div class="col-xs-9">
        <input class="form-control" type="text" name="subject" required placeholder="Enter name here"
               ng-model="tsCreate.model.subject">
      </div>
    </div>
    <!-- Ticket description -->
    <div class="form-group ticket-form-group clearfix">
      <label class="ticket-form-label control-label col-xs-3">{{ 'Description' | translate }}:</label>
      <div class="col-xs-9">
        <div data-summernote data-height="200" name="description" ng-model="tsCreate.model.description"></div>
      </div>
    </div>
    <!-- Ticket priority and status -->
    <div class="form-group ticket-form-group clearfix">
      <label class="ticket-form-label control-label col-xs-3">{{ 'Priority' | translate }}:</label>
      <div class="col-xs-4">
        <input class="hidden" type="number" name="priority" required ng-model="tsCreate.model.priority">
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-sm" uib-dropdown-toggle
                  ng-class="tsCreate.priority.list[tsCreate.priority.active].color">
            {{ tsCreate.priority.list[tsCreate.priority.active].title | translate }}&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-repeat="item in tsCreate.priority.list">
              <a href="" role="button" ng-click="tsCreate.setPriority($index)">{{ item.title | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
      <label class="ticket-form-label control-label col-xs-2">{{ 'Status' | translate }}:</label>
      <div class="col-xs-3">
        <input class="hidden" type="number" name="status" required ng-model="tsCreate.model.status">
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-sm" uib-dropdown-toggle
                  ng-class="tsCreate.statuses.list[tsCreate.statuses.active].color">
            {{ tsCreate.statuses.list[tsCreate.statuses.active].title | translate }}&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-repeat="item in tsCreate.statuses.list">
              <a href="" role="button" ng-click="tsCreate.setStatus($index)">{{ item.title | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Ticket project -->
    <div class="form-group ticket-form-group clearfix">
      <label class="ticket-form-label control-label col-xs-3">{{ 'Project' | translate }}:</label>
      <div class="col-xs-9">
        <input type="number" data-ng-model="tsCreate.project" name="project" hidden required>
        <div data-ui-select name="project" data-ng-model="tsCreate.project">
          <div data-ui-select-match placeholder="Select a project">{{ $select.selected.name }}</div>
          <div data-ui-select-choices
               data-repeat="proj.id as proj in tsCreate.projects | filter: $select.search track by proj.name"
               data-refresh="tsCreate.getProjects($select.search)" data-refresh-delay="500"
               data-minimum-input-length="1">
            <h4 data-ng-bind-html="::proj.name | highlight: $select.search"></h4>
            <span class="text-muted" data-ng-if="proj.description.length > 0" data-ng-bind="::proj.description"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-footer ticket-form-footer clearfix">
    <div class="col-xs-9 col-xs-offset-3">
      <button class="btn btn-primary" type="submit" data-ng-click="tsCreate.createTicket(form)"
              data-ng-disabled="form.$invalid">
        {{ 'Create' | translate }}
      </button>
      <a data-ui-sref="index.tickets.list()" class="btn btn-danger">{{ 'Discard' | translate }}</a>
    </div>
  </div>
</form>
