<h3 class="col-xs-12" ng-bind="'Ticket description' | translate"></h3>
&nbsp;
<!-- <a href="" class="dsp-inline-block" role="button" ng-click="forms.descr.active = true"> -->
<!--   {{ 'Edit' | translate }} -->
<!-- </a> -->
<div class="col-xs-12" ng-bind-html="tsDetail.model.description"></div>
<!-- <div ng-show="forms.descr.active"> -->
<!--   <div data-summernote data-height="200" name="body" ng-model="models.descr"></div> -->
<!--   <button class="btn btn-primary">{{ 'Publish' | translate }}</button> -->
<!--   <button class="btn btn-default" ng-click="forms.descr.clear()"> -->
<!--     {{ 'Cancel' | translate }} -->
<!--   </button> -->
<!-- </div> -->
