<!-- Email tab content -->
<h3>{{ 'Connected emails' | translate }}: {{ tsDetail.emails.length }}</h3>
<ul class="list-unstyled">
  <li class="ticket-email" ng-repeat="item in tsDetail.emails" ng-init="email = item.mail">
    <div class="ticket-email-header clearfix">
      <h4 class="clearfix">{{ ::email.subject }}</h4>
      <small class="pull-left">{{ ::email.sender }}</small>
      <small class="pull-right">{{ ::email.received | date:'medium' }}</small>
    </div>
    <div class="ticket-email-body clearfix">
      <div uib-collapse="!email.active" ng-bind-html="email.body"></div>
      <span ng-hide="email.active">{{ ::email.preview | cutLongText:150:'...' }}</span>
    </div>
    <div class="ticket-email-footer clearfix">
      <button class="btn btn-white pull-left" ng-hide="email.active" ng-click="email.active = true">
        <i class="fa fa-chevron-down"></i>&nbsp;{{ 'Read more' | translate }}
      </button>
      <button class="btn btn-white pull-left" ng-show="email.active" ng-click="email.active = false">
        <i class="fa fa-chevron-up"></i>&nbsp;{{ 'Hide' | translate }}
      </button>
    </div>
  </li>
</ul>
