<!-- People tab content -->
<h3>People</h3>
<div class="ticket-info primary clearfix">
  <label class="col-xs-3 text-right p-l-none">{{ 'Client(s):' | translate }}</label>
  <div class="col-xs-8" ng-show="tsDetail.forms.clients.active">
    <div typeahead-select select-employees ng-model="tsDetail.models.clients"></div>
    <div>
      <button class="btn btn-primary">{{ 'Publish' | translate }}</button>
      <button class="btn btn-default" ng-click="tsDetail.forms.clients.clear()">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
  <div class="col-xs-8" ng-hide="tsDetail.forms.clients.active">
    <ul class="list-unstyled clearfix">
      <li class="p-h-none" ng-repeat="pfile in ::tsDetail.ticket.requesters"
          ng-class="tsDetail.ticket.requesters.length < 6 ? 'col-xs-12': 'col-xs-6'">
        {{ ::pfile.contactProfile.firstname }}
        {{ ::pfile.contactProfile.lastname }}
      </li>
    </ul>
    <a href="" class="dsp-block" role="button" ng-click="tsDetail.forms.clients.active = true">
      {{ 'Add more' | translate }} / {{ 'Remove' | translate }}
    </a>
  </div>
</div>
<div class="ticket-info primary clearfix">
  <label class="col-xs-3 text-right p-l-none">{{ 'Team(s):' | translate }}</label>
  <div class="col-xs-8" ng-show="tsDetail.forms.teams.active">
    <div typeahead-select select-teams ng-model="tsDetail.models.teams"></div>
    <div>
      <button class="btn btn-primary">{{ 'Publish' | translate }}</button>
      <button class="btn btn-default" ng-click="tsDetail.forms.teams.clear()">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
  <div class="col-xs-8" ng-hide="tsDetail.forms.teams.active">
    <ul class="list-unstyled clearfix">
      <li class="p-h-none" ng-repeat="team in ::tsDetail.ticket.teams"
          ng-class="tsDetail.ticket.teams.length < 6 ? 'col-xs-12': 'col-xs-6'">
        {{ ::team.name }}
      </li>
    </ul>
    <a href="" class="dsp-block" role="button" ng-click="tsDetail.forms.teams.active = true">
      {{ 'Add more' | translate }} / {{ 'Remove' | translate }}
    </a>
  </div>
</div>
<div class="ticket-info primary clearfix">
  <label class="col-xs-3 text-right">{{ 'Agent(s):' | translate }}</label>
  <div class="col-xs-8" ng-show="tsDetail.forms.agents.active">
    <div typeahead-select select-employees ng-model="tsDetail.models.agents"></div>
    <div>
      <button class="btn btn-primary">{{ 'Publish' | translate }}</button>
      <button class="btn btn-default" ng-click="tsDetail.forms.agents.clear()">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
  <div class="col-xs-8" ng-hide="tsDetail.forms.agents.active">
    <ul class="list-unstyled clearfix">
      <li class="p-h-none" ng-repeat="pfile in ::tsDetail.ticket.members"
          ng-class="tsDetail.ticket.members.length < 6 ? 'col-xs-12': 'col-xs-6'">
        {{ ::pfile.contactProfile.firstname }}
        {{ ::pfile.contactProfile.lastname }}
      </li>
    </ul>
    <a href="" class="dsp-block" role="button" ng-click="tsDetail.forms.agents.active = true">
      {{ 'Add more' | translate }} / {{ 'Remove' | translate }}
    </a>
  </div>
</div>
