<!-- Content box -->
<div class="ibox ticket-box col-xs-12 p-h-none" ng-init="uitglrs = tsDetail.uiTogglers">
  <!-- Content box title -->
  <div class="ibox-title clearfix">
    <a ui-sref="index.tickets.list()" class="btn btn-default pull-left" ><i class="fa fa-chevron-left"></i></a>
    <span class="pull-right" uib-dropdown auto-close="outsideClick" is-open="uitglrs.options">
      <button class="btn btn-default" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li>
          <a href role="button" ng-click="uitglrs.del = true" ng-hide="uitglrs.del">
            <i class="fa fa-trash-o"></i>&nbsp;{{ 'Delete' | translate }}
          </a>
        </li>
        <li class="col-xs-12 p-sm" ng-show="uitglrs.del">
          <h4 ng-bind="'Delete a ticket?' | translate"></h4>
          <button class="btn btn-default" ng-click="tsDetail.deleteTicket()">{{ 'Ok' | translate }}</button>
          <button class="btn btn-danger" ng-click="uitglrs.del = false; uitglrs.options = false">
            {{ 'Cancel' | translate }}
          </button>
        </li>
      </ul>
    </span>
    <h3 class="ibox-title-text pull-left" ng-bind="tsDetail.origModel.subject"></h3>
  </div>
  <!-- Content box body -->
  <div class="ibox-content clearfix">
    <!-- Placeholders -->
    <div class="ticket-pholder text-center" ng-hide="tsDetail.loadStats.page === 1">
      <h4 class="ticket-pholder-content" ng-show="tsDetail.loadStats.page === 2">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Loading ticket info' | translate }}...</span>
      </h4>
      <div class="ticket-pholder-content" ng-show="tsDetail.loadStats.page === 0">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Unable to get ticket info. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" ng-bind="'Try again' | translate"
                ng-click="tsDetail.getTicket()">
        </button>
      </div>
    </div>
    <div class="ticket-pholder text-center" ng-hide="tsDetail.loadStats.del === 1">
      <h4 class="ticket-pholder-content" ng-show="tsDetail.loadStats.del === 2">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Deleting ticket' | translate }}...</span>
      </h4>
      <div class="ticket-pholder-content" ng-show="tsDetail.loadStats.del === 0">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Something went wrong. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" ng-bind="'Try again' | translate"
                ng-click="tsDetail.loadStats.del = 1">
        </button>
      </div>
    </div>
    <!-- Ticket main info -->
    <ul class="list-unstyled col-xs-6 col-md-4">
      <!-- Creator -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Created by' | translate }}:</label>
        <span class="dsp-inline-block col-sm-6">{{ tsDetail.origModel.createdByUser | crmUserDisplayName }}</span>
      </li>
      <!-- Status -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Status' | translate }}:</label>
        <div class="dsp-inline-block col-sm-6" crm-ticket-status-dropdown ng-model="tsDetail.formModel.status"
             dropdown-class="btn-group-sm" ng-show="tsDetail.loadStats.status === 1">
        </div>
        <div class="dsp-inline-block col-sm-6"ng-show="tsDetail.loadStats.status === 2">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
          <span class="valign-middle">{{ 'Saving' | translate }}...</span>
        </div>
      </li>
      <!-- Priority -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Priority' | translate }}:</label>
        <div class="dsp-inline-block col-sm-6" crm-ticket-priority-dropdown ng-model="tsDetail.formModel.priority"
             dropdown-class="btn-group-sm" ng-show="tsDetail.loadStats.priority === 1">
        </div>
        <div class="dsp-inline-block col-sm-6"ng-show="tsDetail.loadStats.priority === 2">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
          <span class="valign-middle">{{ 'Saving' | translate }}...</span>
        </div>
      </li>
      <!-- Deadline -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Deadline' | translate }}:</label>
        <span class="dsp-inline-block col-sm-6" ng-bind="tsDetail.origModel.deadline | date:'MM.dd.yyyy HH:mm'"></span>
      </li>
      <!-- Last update -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Last update' | translate }}:</label>
        <span class="dsp-inline-block col-sm-6" ng-bind="'Unavailable' | translate"></span>
      </li>
    </ul>
    <!-- Ticket people -->
    <ul class="list-unstyled col-xs-6 col-md-4">
      <!-- Teams -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Team(s)' | translate }}:</label>
        <ul class="list-unstyled col-sm-6" ng-show="tsDetail.origModel.teams.length > 0">
          <li ng-repeat="team in tsDetail.origModel.teams | limitTo:3"><span ng-bind="team.name"></span></li>
          <li ng-show="tsDeatil.model.teams.length > 3">
            <a role="button" ng-click="tsDetail.activeTab = 2" ng-bind="'See more' | translate"></a>
          </li>
        </ul>
        <span class="col-sm-6" ng-hide="tsDetail.origModel.teams.length > 0">-</span>
      </li>
      <!-- Clients -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Client(s)' | translate }}:</label>
        <ul class="list-unstyled col-sm-6" ng-show="tsDetail.origModel.clients.length > 0">
          <li ng-repeat="client in tsDetail.origModel.clients | limitTo:3">
            <span ng-bind="client | crmUserDisplayName"></span>
          </li>
          <li ng-show="tsDeatil.model.clients.length > 3">
            <a role="button" ng-click="tsDetail.activeTab = 2" ng-bind="'See more' | translate"></a>
          </li>
        </ul>
        <span class="col-sm-6" ng-hide="tsDetail.origModel.clients.length > 0">-</span>
      </li>
      <!-- Agents -->
      <li class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Agent(s)' | translate }}:</label>
        <ul class="list-unstyled col-sm-6" ng-show="tsDetail.origModel.agents.length > 0">
          <li ng-repeat="agent in tsDetail.origModel.agents | limitTo:3">
            <span ng-bind="agent | crmUserDisplayName"></span>
          </li>
          <li ng-show="tsDeatil.model.agents.length > 3">
            <a role="button" ng-click="tsDetail.activeTab = 2" ng-bind="'See more' | translate"></a>
          </li>
        </ul>
        <span class="col-sm-6" ng-hide="tsDetail.origModel.agents.length > 0">-</span>
      </li>
    </ul>
    <span class="m-n col-xs-12 clearfix hidden-md hidden-lg"></span>
    <!-- Ticket files -->
    <div class="list-unstyled col-xs-6 col-md-4">
      <div class="ticket-info-row clearfix">
        <label class="col-sm-6 text-right">{{ 'Ticket files' | translate }}:</label>
        <span class="col-sm-6" ng-bind="'Unavailable' | translate"></span>
      </div>
    </div>
    <!-- Ticket tabs -->
    <uib-tabset class="ticket-tabs col-xs-12 p-h-none" active="3">
      <uib-tab index="$index" disable="tab.disabled" ng-repeat="tab in ::tsDetail.tabs">
        <uib-tab-heading><i class="fa" ng-class="::tab.icon"></i>{{ ::tab.title | translate }}</uib-tab-heading>
        <div class="clearfix" ng-include="tab.template"></div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
