<!-- Content box -->
<div class="ibox">
  <!-- Content box title -->
  <div class="ibox-title clearfix">
    <h3 class="ibox-title-text pull-left">{{ 'Tickets' | translate }}</h3>
    <div class="pull-right">
      <a ui-sref="index.tickets.create()" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>&nbsp;{{ 'Create ticket' | translate }}
      </a>
      <button class="btn btn-default"><i class="fa fa-cog"></i></button>
    </div>
  </div>
  <!-- Content box body -->
  <div class="ibox-content tickets-view clearfix">
    <!-- Tickets search -->
    <div class="form-group tickets-view col-xs-12">
      <div class="input-group">
        <label class="input-group-addon label" for="tickets_search"><b>{{ 'Search' | translate }}:</b></label>
        <input type="text" class="form-control" id="tickets_search">
        <span class="input-group-addon fa fa-search"></span>
      </div>
    </div>
    <!-- Tickets sort -->
    <div class="form-group tickets-view col-md-6 col-lg-3">
      <div class="input-group">
        <label class="input-group-addon label" for="tickets_sort">{{ 'Sort by' | translate }}:</label>
        <ui-select id="tickets_sort" data-ng-model="param" data-on-select="ts.onSortChange($item)">
          <ui-select-match placeholder="Choose an option">{{ $select.selected.title }}</ui-select-match>
          <ui-select-choices repeat="opt in ::ts.sortOpts">{{ ::opt.title }}</ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!-- Tickets list modes -->
    <div class="tickets-list-modes col-xs-6 col-lg-4">
      <span>{{ 'Show' | translate }}:</span>&nbsp;
      <a href="">{{ 'Only my tickets' | translate }}</a>
      <a href="">{{ 'All tickets' | translate }}</a>
    </div>
    <!-- Tickets priority filter -->
    <div class="col-xs-6 col-md-12 col-lg-4">
      <div class="btn-group">
        <button class="btn" data-ng-class="id === ts.getParams.priority ? 'btn-primary' : 'btn-default'"
                data-ng-repeat="(id, label) in ::ts.ticketPriority"
                data-ng-click="ts.filterByPriority(id)">
          {{ ::label | translate }}
        </button>
      </div>
    </div>
    <!-- Tickets list container -->
    <div class="col-xs-12 table-responsive">
      <!-- Tickets list -->
      <table class="tickets-list table table-stripped">
        <thead>
          <tr>
            <th></th>
            <th data-ng-repeat="field in ::ts.ticketFields">
              <span data-ng-bind="::field.title | translate"></span>
              <a class="fa" href role="button" title="{{ 'Change sort ordering' | translate }}"
                 data-ng-class="ts.getParams.sortAsc ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'"
                 data-ng-show="field.name === ts.getParams.sortField"
                 data-ng-click="ts.toggleSortOrder()">
              </a>
            </th>
          </tr>
        </thead>
        <tbody data-ng-show="ts.loadStats.list === 1">
          <tr class="ticket-row" data-ng-repeat="ticket in ts.tickets"
              data-ng-class="{'overdue': ticket.deadline <= ts.today.getTime()}">
            <td>
              <input class="green-check" type="checkbox">
            </td>
            <td><a data-ui-sref="index.tickets.detail({ticketId: ticket.id})" data-ng-bind="::ticket.id"></a></td>
            <td data-crm-ticket-status-label data-ng-model="ticket.status"></td>
            <td data-crm-ticket-priority-label data-ng-model="ticket.priority"></td>
            <td>
              <a data-ui-sref="index.tickets.detail({ticketId: ticket.id})"
                 data-ng-bind="::ticket.subject | cutLongText:25:'...'"></a>
            </td>
            <td>
              <span ng-repeat="pfile in ::ticket.clients" ng-if="ticket.clients.length === 1"
                    ng-bind="pfile | crmUserDisplayName"></span>
              <span ng-repeat="pfile in ::ticket.clients | limitTo:3" ng-if="ticket.clients.length > 1"
                    title="{{ pfile | crmUserDisplayName }}">
                {{ pfile | crmUserDisplayName:true }}{{ !$last ? ',' : '' }}
              </span>
              <a href="" role="button" ng-if="ticket.clients.length > 3">...</a>
            </td>
            <td>
              <span>{{ ::ticket.teams[0].name }}{{ ticket.teams.length > 1 ? ',' : '' }}</span>
              <a href="" role="button" ng-if="ticket.teams.length > 1">...</a>
            </td>
            <td>
              <span ng-repeat="pfile in ::ticket.agents" ng-if="ticket.agents.length === 1"
                    ng-bind="pfile | crmUserDisplayName"></span>
              <span ng-repeat="pfile in ::ticket.agents | limitTo:3" ng-if="ticket.agents.length > 1"
                    title="{{ pfile | crmUserDisplayName }}">
                {{ pfile | crmUserDisplayName:true }}{{ !$last ? ',' : '' }}
              </span>
              <a href="" role="button" ng-if="ticket.agents.length > 3">...</a>
            </td>
            <td>{{ ::ticket.project.name }}</td>
            <td>{{ ::ticket.createdAt | date:'mediumDate' }}</td>
            <td>
              <span>{{ ::ticket.deadline | date:'mediumDate' }}</span>
              &nbsp;
              <span class="ticket-row-tip fa fa-question" ng-if="ticket.deadline <= ts.today.getTime()"
                    uib-popover="This ticket is passed the deadline and not been closed yet"
                    popover-append-to-body="true" popover-placement="bottom-right" popover-trigger="mouseenter">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Loading status -->
    <div class="tickets-list-pholder col-xs-12" data-ng-show="ts.loadStats.list === 2">
      <h4 class="tickets-list-pholder-content">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Loading tickets' | translate }}...</span>
      </h4>
    </div>
    <!-- Error box -->
    <div class="tickets-list-pholder col-xs-12" data-ng-show="ts.loadStats.list === 0">
      <div class="tickets-list-pholder-content">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Unable to get tickets list. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" data-ng-bind="'Try again' | translate"
                data-ng-click="ts.getTickets(ts.pages.current)">
        </button>
      </div>
    </div>
    <!-- Empty tickets list -->
    <div class="tickets-list-pholder col-xs-12" data-ng-show="ts.loadStats.list === 1 && ts.tickets.length === 0">
      <div class="tickets-list-pholder-content">
        <h4 data-ng-bind="'There are no tickets' | translate"></h4>
        <a data-ui-sref="index.tickets.create()" class="btn btn-primary" data-ng-bind="'Create' | translate"></a>
      </div>
    </div>
    <!-- Tickets list actions and pagination -->
    <div class="col-xs-12 clearfix">
      <ui-select class="tickets-list-actions" ng-model="selected">
        <ui-select-match placeholder="Do with chosen">{{ $select.selected }}</ui-select-match>
        <ui-select-choices repeat="opt in ::ts.ticketsActions">{{ ::opt }}</ui-select-choices>
      </ui-select>
      <ul class="tickets-list-pagination" data-uib-pagination data-ng-model="ts.pages.current"
          data-items-per-page="ts.pages.onPage" max-size="4" data-boundary-link-numbers="true"
          data-ng-change="ts.getTickets()" data-total-items="ts.pages.total" data-previous-text="&#xf053;"
          data-next-text="&#xf054;">
      </ul>
    </div>
  </div>
</div>
