<div class="wrapper wrapper-content  animated fadeIn" ng-controller="TicketsCtrl">
  <div class="row">
    <div ng-class="{'col-sm-12' : mode == 0, 'hidden-xs hidden-sm hidden-md col-lg-7 col-xl-8' : mode == 1, 'hidden-xs hidden-sm hidden-md col-lg-4 col-xl-3' : mode == 2}">
      <div class="ibox">
        <div class="ibox-content">
          <div class="btn-group pull-right m-l-sm" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-sm btn-white m-l-sm" uib-dropdown-toggle ng-disabled="disabled">
              <i class="fa fa-cog"></i> 
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href></a></li>
              <li role="menuitem"><a href>Assign ticket</a></li>
              <li role="menuitem"><a href ng-click="assignRoleAction(currentTicket)">Assign delegate role</a></li>
              <li role="menuitem"><a href>Send email</a></li>
              <li role="menuitem"><a href>Export in exel</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href="#">Delete employee</a></li>
            </ul>
          </div>

          <button ng-click="createTicketAction()" type="button" class="btn btn-sm btn-primary pull-right" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-user-plus"></i> {{ 'Create ticket' | translate }}
          </button>

          <h2>{{ 'Tickets' | translate }}</h2>

          <!--FILTERS start-->
          <!--main search-->
          <div class="input-group col-md-6 m-b-sm">
            <input type="text" placeholder="Search names, emails or telephone numbers..." class="input form-control" ng-model="searchTerm" ng-change="searchEmployees()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-default"> <i class="fa fa-close"></i></button>

            </span>

          </div>


          <!--btns-->
          <button type="button" ng-click="isCollapsed = true"  ng-hide="isCollapsed==true" class="btn btn-primary">
            <i class="fa fa-eye" style="padding-right:5px;"></i>Show filters
          </button>

          <button type="button" ng-click="isCollapsed = false" ng-hide="isCollapsed==false" class="btn btn-warning">
            <i class="fa fa-eye-slash" style="padding-right:5px;"></i>Hide filters
          </button>

          <button type="button" class="btn btn-info" ng-hide="isCollapsed==false">
            <i class="fa fa-floppy-o" style="padding-right:5px;"></i>Save filters
          </button> 
          <!--advanced filters start-->
          <div ng-if="isCollapsed">
            <!--top search fields-->
            <form role="form" class="form-inline" style="padding-top:20px;">

              <!--union-->
              <div class="form-group" style="margin-right:10px;">
                <h4>Union</h4>
                <div class="input-group">

                  <input id="unionFilter" type="text" ng-model="currentFilters.union" uib-typeahead="union as union.name for union in mycp.unions | filter:$viewValue | limitTo:8" class="form-control">


                </div> 

                <ul>
                  <li ng-repeat="union in filter.unions">{{union.name}}</li>
                </div>

                <!--position-->
                <div class="form-group" style="margin-right:10px;">
                  <h4>Position</h4>
                  <div class="input-group">
                    <input type="text" placeholder="Position..." class="form-control">
                  </div>
                </div>

                <!--department-->
                <div class="form-group" style="margin-right:10px;">
                  <h4>Department</h4>
                  <div class="input-group">
                    <input type="text" placeholder="Department..." class="form-control">
                  </div>
                </div>

                <!--shift-->
                <div class="form-group" style="margin-right:10px;">
                  <h4>Shift</h4>
                  <div class="input-group">
                    <input type="text" placeholder="Shift..." class="form-control" />
                  </div>
                </div>    

            </form>
          </div>
            <!--advanced filters end-->

          <div class="clients-list">
              <!--TABS start-->
            <ul class="nav nav-tabs">
              <li ng-class="{'active' : tab == 1}">
                <a ng-click="tab = 1" ng-init="tab = 1">
                  <i class="fa fa-users"></i>{{ 'Employees' | translate }}
                </a>
              </li>
              <li ng-class="{'active' : tab == 2}">
                <a ng-click="tab = 2">
                  <i class="fa fa-briefcase"></i>{{ 'Delegates' | translate }}
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <!--tab 1 content-->
              <div id="tab-1" class="tab-pane active" ng-show="tab == 1">
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>
                            <i class="fa fa-check"></i>
                          </th>
                          <th style="margin-left:5px;">Status</th>
                          <th>Priority</th>
                          <th>Ticket</th>
                          <th>Client</th>
                          <th>Team</th>
                          <th>Person</th>
                          <th>Created</th>
                          <th>Deadline</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="idata in itable | limitTo:10 | filter:globalSearch"  role="row"> <!--sets display limit of 10 tickets per page-->
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-success': idata.update === 'new', 'btn-warning': idata.update === 'overdue', 'btn-default': idata.update === 'closed'}">{{idata.update | uppercase}}</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-xs btn-outline" ng-class="{'btn-danger': idata.priority === 'high', 'btn-warning': idata.priority === 'mid', 'btn-info': idata.priority === 'low'}">{{idata.priority |uppercase}}</button>
                          </td>
                          <td>
                            <a href ng-click="openTicket(idata)">{{idata.number | uppercase}} </a>
                          </td>
                          <td>
                            {{idata.client}}
                          </td>
                          <td>
                            {{idata.team}}
                          </td>
                          <td>
                            {{idata.person}}
                          </td>
                          <td>
                            {{idata.created | date: 'mediumDate'}}
                          </td>
                          <td>
                            {{idata.deadline | date: 'mediumDate'}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--PAGINATION start-->
                <uib-pagination class="pull-right" total-items="totalItems" ng-model="pageNr" items-per-page="pageSize" ng-change="changePage()"></uib-pagination>
                <!--PAGINATION end-->
              </div>

              <!--tab 2 content-->
              <div id="tab-2" class="tab-pane active" ng-show="tab == 2">
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody >                        <tr ng-repeat-start="emp in employees" ng-if="emp.delegates.length > 0">
                          <td rowspan="{{emp.delegates.length + 1}}"><a ng-click="open(emp)" class="client-link">{{emp.user.contactProfile.firstname}} {{emp.user.contactProfile.lastname}}</a>
                          </td>
                        </tr>
                        <tr  ng-repeat="role in emp.delegates">
                          <td><div>
                            <span class="label label-primary">{{role.name}}</span>
                          </div></td>
                          <td>{{timeConverter(role.startDate)}}</td>
                          <td>{{timeConverter(role.endDate)}}</td>                          <tr ng-repeat-end></tr>
                          <tr ng-repeat-end></tr>                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--PAGINATION start-->
                  <uib-pagination class="pull-right" total-items="totalItems" ng-model="pageNr" items-per-page="pageSize" ng-change="changePage()"></uib-pagination>
                  <!--PAGINATION end-->
                </div>                              
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- sidebar -->  
      
      <div ng-class="{'col-sm-12 col-lg-5 col-xl-4' : mode == 1, 'col-sm-12 col-md-12 col-lg-8 col-xl-9' : mode == 2}"  ng-show="mode == 1 || mode == 2">
        <!-- creation form -->

        <div class="ibox float-e-margins" ng-if="currentTicket.id == null">
          <div class="ibox-title">
            <h5>Create new ticket</h5>
            <button class="btn btn-danger btn-sm pull-right" ng-click="defaultMode()" style="margin-left:5px;"><i class="fa fa-times" style="margin-right:5px;"></i>Discard</button>
            <button class="btn btn-primary btn-sm pull-right"><i class="fa fa-floppy-o" style="margin-right:5px;"></i>Save</button>
          </div>
          <div class="ibox-content">
            <form role="form" class="form-inline">
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-6">
                  <h4>Ticket name</h4>
                  <input type="text" class="form-control" placeholder="Ticket name..." style="width:100%;" />
                </div>
                <div class="col-lg-6">
                  <h4>Deadline</h4>
                  <div id="reportrange" class="form-control" style="width:100%;">
                    <i class="fa fa-calendar"></i>
                    <span>April 22, 2016 - May 21, 2016</span> <b class="caret"></b>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-6">
                  <h4>Assign to</h4>
                  <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" placeholder="Assign a ticket to employee...">
                 </div>
                  <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h4>Status</h4>
                  <select class="form-control m-b" name="account" style="width:100%;">
                    <option>New</option>
                    <option>Overdue</option>
                    <option>Deadline</option>
                    <option>Closed</option>
                  </select>
                </div>  
                <div class="col-lg-3">
                  <h4>Priority</h4>
                  <select class="form-control m-b" name="account" style="width:100%;">
                    <option>High</option>
                    <option>Mid</option>
                    <option>Low</option>
                  </select>       
                </div>
              </div>
              <hr style="margin-bottom:35px;"/>
              <div class="row" style="margin-bottom:50px;">
                <div class="col-lg-12" style="margin-bottom:20px;">
                  <h4>Description</h4>
                  <textarea class="form-control" placeholder="Add description here..." style="width:100%;"></textarea>
                </div>
                    <div class="col-lg-6">
                  <h4>Team</h4>
                  <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" placeholder="Add a team...">
                  </div>
                </div>
                <div class="col-lg-6">
                  <h4>Client</h4>
                  <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" placeholder="Add a client...">
                  </div>
                </div>
              </div>
            </form> 
          </div>
        </div>
        <!-- creation form end -->
        <!-- opened ticket -->

        <div class="ibox float-e-margins" ng-if="currentTicket.id != null">
          <div class="ibox-title">
            <h5>Ticket #{{currentTicket.id}}</h5>
            <div class="pull-right">
              <button type="button" class="btn btn-sm btn-white" ng-click="expandMode()" ng-if="mode == 1"> <i class="fa fa-expand"></i> </button>
              <button type="button" class="btn btn-sm btn-white" ng-click="compressMode()" ng-if="mode == 2"> <i class="fa fa-compress"></i> </button>
              <button type="button" class="btn btn-sm btn-white" ng-click="defaultMode()"> <i class="fa fa-times"></i> </button>
            </div>
          </div>
          <div class="ibox-content">
            

            content


          </div>
        </div>


        <!-- opened ticket end -->

      </div>

      <!-- sidebar end -->

    </div>
  </div>

