<!-- Secondary content box -->
<div class="ticket-box secondary col-xs-12 col-lg-4 p-r-none pull-right">
  <h3 class="ticket-box-title dsp-inline-block">{{ 'Ticket description' | translate }}</h3>
  &nbsp;
  <a href="" class="dsp-inline-block" role="button">{{ 'Edit' | translate }}</a>
  <!-- Ticket description -->
  <div class="ticket-descr">
    <div ng-bind-html="tsdet.ticket.description"></div>
  </div>
  <ul class="ticket-info secondary list-unstyled">
    <li class="clearfix">
      <label class="col-xs-4 text-right">{{ 'Priority' | translate }}:</label>
      <span class="col-xs-8" data-ticket-priority ng-model="tsdet.ticket.priority"></span>
    </li>
    <li class="clearfix">
      <label class="col-xs-4 text-right">{{ 'Deadline' | translate }}:</label>
      <div class="col-xs-8">
        <span class="dsp-inline-block">{{ tsdet.ticket.deadline | date:'M.d.yyyy hh:mm' }}</span>
        &nbsp;
        <a href="" class="dsp-inline-block" role="button">{{ 'Edit' | translate }}</a>
      </div>
    </li>
  </ul>
</div>
<!-- Content box -->
<div class="ibox ticket-box primary col-xs-12 col-lg-8 p-l-none">
  <!-- Content box title -->
  <div class="ibox-title clearfix">
    <a ui-sref="index.tickets.list()" class="btn btn-default pull-left" ><i class="fa fa-chevron-left"></i></a>
    <h3 class="ibox-title-text pull-left">{{ ::tsdet.ticket.subject }}</h3>
    <button class="btn btn-default pull-right"><i class="fa fa-cog"></i></button>
  </div>
  <!-- Content box body -->
  <div class="ibox-content clearfix">
    <!-- Ticket basic info -->
    <div class="ticket-info primary clearfix">
      <label class="col-xs-3 text-right p-l-none">{{ 'Status' | translate }}</label>
      <div class="col-xs-2" data-ticket-status ng-model="tsdet.ticket.status"></div>
      <label class="col-xs-3 text-right">{{ 'Last updated' | translate }}</label>
      <div class="col-xs-3">
        <a href="">{{ 'See history' | translate }}</a>
      </div>
    </div>
    <div class="ticket-info primary clearfix">
      <label class="col-xs-3 text-right">{{ 'Created by' | translate }}</label>
      <a href="" class="col-xs-3">
        {{ ::tsdet.ticket.createdByUser.contactProfile.firstname }}
        {{ ::tsdet.ticket.createdByUser.contactProfile.lastname }}
      </a>
      <label class="col-xs-2 text-right p-l-none">{{ 'Team(s)' | translate }}</label>
      <ul class="list-unstyled col-xs-3">
        <li>{{ ::tsdet.ticket.teams[0].name }}</li>
        <li><a href="">{{ 'See more' | translate }}</a></li>
      </ul>
    </div>
    <div class="ticket-info primary clearfix">
      <label class="col-xs-3 text-right p-l-none">{{ 'Client(s)' | translate }}</label>
      <ul class="list-unstyled col-xs-3">
        <li ng-repeat="pfile in ::tsdet.ticket.requesters | limitTo:3">
          {{ ::pfile.contactProfile.firstname }}
          {{ ::pfile.contactProfile.lastname }}
        </li>
        <li><a href="">{{ 'See more' | translate }}</a></li>
      </ul>
      <label class="col-xs-2 text-right">{{ 'Agent(s)' | translate }}</label>
      <ul class="list-unstyled col-xs-3">
        <li ng-repeat="pfile in ::tsdet.ticket.members | limitTo:3">
          {{ ::pfile.contactProfile.firstname }}
          {{ ::pfile.contactProfile.lastname }}
        </li>
        <li><a href="">{{ 'See more' | translate }}</a></li>
      </ul>
    </div>
    <!-- Ticket tabs -->
    <uib-tabset class="ticket-tabs" active="0">
      <uib-tab index="$index" ng-repeat="tab in ::tsdet.tabs">
        <uib-tab-heading><i class="fa" ng-class="::tab.icon"></i>{{ ::tab.title | translate }}</uib-tab-heading>
        {{ ::tab.title }} tab content
      </uib-tab>
    </uib-tabset>
  </div>
</div>
