<div class="wrapper wrapper-content full-height clearfix view-animate-container">
  <!-- Mailbox -->
  <div class="col-xs-16 full-height" ng-class="{'col-md-7 hidden-xs hidden-sm': mbox.slidebox.active}">
    <!-- Mailbox header -->
    <div class="mailbox-header clearfix">
      <h2 class="col-md-4">
        <i ng-class="mbox.header.title.icon" aria-hidden="true"></i>
        <span class="dsp-inline">{{ mbox.header.title.content | translate }}</span>
        <button class="btn btn-white pull-right" ng-click="mbox.header.refresh.func(1)" ng-show="mbox.loadStatus !== 2">
          <i class="fa fa-refresh"></i>
        </button>
      </h2>
      <!-- Search -->
      <div class="mailbox-search input-group col-md-8 m-b-sm">
        <input type="text" placeholder="{{ mbox.header.search.placeholder }}" class="input form-control"
               aria-invalid="false" />
        <span class="input-group-btn">
          <button type="button" class="btn btn btn-default"><i class="fa fa-close"></i></button>
          <button class="btn btn-primary" ng-click="mbox.header.createNew.func()">
            <i class="fa fa-plus"></i>&nbsp;{{ mbox.header.createNew.title | translate }}
          </button>
        </span>
      </div>
    </div>
    <!-- Mailbox content -->
    <div ui-view class="mailbox-content full-height clearfix view-animate"></div>
  </div>
  <!-- Slide box -->
  <div class="mailbox-slidebox ibox col-xs-16 col-md-5" ng-show="mbox.slidebox.active"
       ng-include="mbox.slidebox.template"></div>
</div>
