<!-- Messages -->
<ul class="mailbox-attach-msgs mailbox-scroll-box list-unstyled col-lg-4"
    ng-class="{'hidden-xs hidden-sm hidden-md': ambox.showTickets}">
  <li class="mailbox-show-tickets clearfix hidden-lg">
    <button class="btn btn-white pull-right" ng-click="vm.showTickets = true">
      {{ 'Tickets' | translate }}&nbsp;<i class="fa fa-chevron-right"></i>
    </button>
  </li>
  <!-- Message -->
  <li class="email attach-msg" ng-repeat="email in ambox.msgs">
    <!-- Message header -->
    <button class="btn-default pull-right" ng-click="ambox.removeMsg($index)"><i class="fa fa-close"></i></button>
    <div class="email-header clearfix">
      <h4 class="email-subject ng-binding">{{ ::email.subject }}</h4>
      <a class="email-sender dsp-inline-block" href="#">{{ ::email.sender }}</a>
      <small class="email-date dsp-inline-block text-muted">
        {{ ::email.received | date:'medium' }}
      </small>
    </div>
    <!-- Message body preview -->
    <p href="" class="email-body attach-msg">
      {{ ::email.preview | cutLongText:150:'...' }}
    </p>
  </li>
</ul>
<!-- Tickets -->
<div class="mailbox-tickets mailbox-scroll-box col-lg-8"
     ng-class="{'hidden-xs hidden-sm hidden-md': !ambox.showTickets}"
     ng-include="'/app/mail/mailbox.ticket-list.html'" onload="vm = ambox">
</div>
