<!-- Last message in conversation list -->
<li class="email" ng-repeat="conv in mbox.convList" ng-show="vm.loadStats.convList === 1"
    ng-init="email = conv.mails[conv.mails.length - 1]" ng-class="{'active': conv.active, 'selected': conv.selected}">
  <!-- Message header -->
  <div class="email-header clearfix">
    <input class="green-check email-select" type="checkbox">
    <h4 class="email-subject ng-binding">{{ ::email.subject }}</h4>
    <a class="email-sender dsp-inline-block" href="#">{{ ::email.sender }}</a>
    <small class="email-date dsp-inline-block text-muted">
      {{ ::email.received | date:'medium' }}
    </small>
  </div>
  <!-- Message body preview -->
  <a href="" class="email-body" ng-click="mbox.viewConvDetail(conv, $index)">
    {{ ::email.preview | cutLongText:150:'...' }}
  </a>
  <!-- Message footer -->
  <div class="email-footer clearfix hidden">
    <div class="pull-left">
      <button class="btn btn-white btn-xs"><a href>Ticket One</a></button>
      <button class="btn btn-white btn-xs"><a href>Important</a></button>
    </div>
  </div>
</li>
<li class="mailbox-pholder text-muted" ng-show="vm.loadStats.convList === 2">
  <h3>
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
    <span class="valign-middle">{{ 'Loading messages' | translate }}</span>
  </h3>
</li>
<li class="mailbox-pholder text-muted" ng-show="vm.loadStats.convList === 0">
  <h3>&nbsp;{{ 'Couldn\'t get messages. Try to reload list.' | translate }}</h3>
  <button class="btn" ng-click="vm.getInbox(1)">
    <i class="fa fa-refresh"></i>&nbsp;{{ 'Reload' | translate }}
  </button>
</li>
<li ng-show="vm.pages.all > 1 && vm.pages.current < vm.pages.all && vm.loadStats.convList === 1">
  <span class="email-load-more" ng-show="vm.loadStats.loadMore === 2">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>&nbsp;{{ 'Loading messages' | translate }}
  </span>
  <span class="email-load-more" ng-show="vm.loadStats.loadMore === 0">
    <i class="fa fa-ban"></i>&nbsp;{{ 'Couldn\'t get messages. Please try again.' | translate }}
  </span>
  <button class="email-load-more btn btn-white" ng-click="vm.getInbox(vm.pages.current + 1)"
          ng-show="vm.loadStats.loadMore === 1">
    <i class="fa fa-arrow-down"></i>&nbsp;{{ 'Load more' | translate }}
  </button>
</li>
