<!-- Mailbox action menu -->
<div class="mailbox-actions clearfix" ng-show="mbox.showActionMenu">
  <h4 class="mailbox-actions-title clearfix">
    {{ 'Selected messages:' | translate }}&nbsp;{{ mbox.selectedMsgs.length }}
  </h4>
  <div class="pull-right">
    <button class="mailbox-actions-ctrl btn btn-default" ng-click="mbox.selectAllMsgs()">
      <i class="fa fa-check"></i>&nbsp;{{ 'Select all' | translate }}
    </button>
    <button class="mailbox-actions-ctrl btn btn-default" ng-click="mbox.clearSelectedMsgs()">
      <i class="fa fa-close"></i>&nbsp;{{ 'Clear selection' | translate }}
    </button>
    <a ui-sref="index.mail.attachMsgs({mailboxId: mbox.mboxId})" class="mailbox-actions-ctrl btn btn-default"
       role="button">
      <i class="fa fa-share-alt"></i>&nbsp;{{ 'Attach to ticket' | translate }}
    </a>
    <button class="mailbox-actions-ctrl btn btn-default">
      <i class="fa fa-trash"></i>&nbsp;{{ 'Delete' | translate }}
    </button>
  </div>
</div>
<!-- Conversations -->
<ul class="mailbox-conv-list mailbox-scroll-box list-unstyled col-xs-12"
    ng-class="{'hidden-xs hidden-sm hidden-md': mbox.convView.active, 'col-lg-4': !mbox.slidebox.active}"
    ng-hide="mbox.slidebox.active && mbox.convView.active"
    ng-include="'app/mail/mailbox.conv-list.html'" onload="vm = inbox">
</ul>
<!-- Conversation view -->
<ul class="mailbox-conv-view mailbox-scroll-box list-unstyled col-xs-12"
    ng-class="{'hidden-xs hidden-sm hidden-md': !mbox.convView.active, 'col-lg-8': !mbox.slidebox.active}"
    ng-hide="mbox.slidebox.active && !mbox.convView.active"
    ng-include="'app/mail/mailbox.conv-view.html'">
</ul>
