<!-- Message -->
<li class="msg media clearfix" ng-repeat="msg in vm.msgs">
  <!-- Message header -->
  <div class="msg-avatar media-left">
    <a href="">
      <img alt="image" src="img/a2.jpg">
    </a>
  </div>
  <!-- Message content -->
  <div class="msg-content media-body">
    <!-- Sender and send date -->
    <p class="clearfix">
      <a class="msg-sender dsp-inline-block" href="#">{{ ::msg.sender }}</a>
      <small class="msg-date dsp-inline-block text-muted">
        {{ ::msg.received | date:'medium' }}
      </small>
    </p>
    <!-- Message body preview -->
    <a href="" class="msg-body-preview" ng-click="mbox.selectConv(conv)"
      role="button">
      <h4 class="msg-subject">{{ ::msg.subject }}</h4>
      {{ ::msg.preview | cutLongText:150:'...' }}
    </a>
    <div class="clearfix">
      <div class="pull-left">
        <button class="btn btn-white btn-xs"><a href>Ticket One</a></button>
        <button class="btn btn-white btn-xs"><a href>Important</a></button>
      </div>
      <div class="pull-right dropdown">
        <a class="btn btn-white" ui-sref="index.mail.attachMsgs"><i class="fa fa-eye"></i></a>
        <!-- <button class="btn-white" ng-click="mbox.selectMsgsToAttach(msg)"> -->
        <!-- </button> -->
        <button class="btn-white">
          <i class="fa fa-star-o"></i>
        </button>
        <button data-toggle="dropdown" class="dropdown-toggle btn-white">
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu m-t-xs">
          <li><a href="#">Config</a></li>
        </ul>
      </div>
    </div>
  </div>
</li>
