<form class="full-height" name="form" ng-init="model = mbox.emailFormModel; load = mbox.loadStats">
  <div class="mailbox-overlay mailbox-form-overlay" ng-show="mbox.showEmailFormOverlay">
    <h3 class="mailbox-overlay-title" ng-show="load.emailForm === 0 && (model.emptySubj || model.emptyBody)">
      {{ 'Do you really want to send Email with empty ' | translate }}
      {{ model.emptySubj ? 'subject' : '' }}
      {{ model.emptySubj && model.emptyBody ? 'and ' : '' }}
      {{ model.emptyBody ? 'body' : '' }} ?
      <span class="center-block">
        <button class="btn btn-primary m-t-xs" ng-click="mbox.submitEmailForm(form, true)">
          {{ 'Send' | translate }}
        </button>&nbsp;
        <button class="btn btn-default m-t-xs" ng-click="mbox.showEmailFormOverlay = false">
          {{ 'Edit' | translate }}
        </button>
      </span>
    </h3>
    <h3 class="mailbox-overlay-title" ng-show="load.emailForm === 2">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
      {{ 'Sending Email' | translate }}
    </h3>
    <h3 class="mailbox-overlay-title" ng-show="load.emailForm === 1">
      <i class="fa fa-check text-success valign-middle"></i>
      <span class="valign-middle">{{ 'Success' | translate }}</span>
      <button class="btn btn-default center-block m-t-xs" ng-click="mbox.hideEmailForm(form)">
        {{ 'Ok' | translate }}
      </button>
    </h3>
  </div>
  <h3 class="mailbox-slidebox-title ibox-title clearfix">
    {{ mbox.slidebox.title | translate }}
    <button class="btn btn-sm btn-default pull-right" ng-click="mbox.hideEmailForm(form)"
            ng-disabled="load.emailForm === 2">
      <i class="fa fa-close"></i>
    </button>
  </h3>
  <div class="mailbox-slidebox-content ibox-content form-horizontal">
    <div class="form-group" ng-class="{'has-error': form.sender.$dirty && form.sender.$invalid}">
      <label for="email_sender" class="col-sm-2 control-label">{{ 'From:' | translate }}</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email_sender" name="sender" ng-model="model.sender"
               disabled required>
        <span class="help-block" ng-show="form.sender.$dirty && form.sender.$error.required">
          {{ 'This field is required' | translate }}
        </span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.receiver.$dirty && form.receiver.$invalid}">
      <label for="email_receiver" class="col-sm-2 control-label">{{ 'To:' | translate }}</label>
      <div class="col-sm-10">
        <input class="form-control" id="email_receiver" name="receiver"
               ng-model="model.receiver" ng-list required>
        <span class="help-block" ng-show="form.receiver.$dirty && form.receiver.$error.required">
          {{ 'This field is required' | translate }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="emai_subject" class="col-sm-2 control-label">{{ 'Subject:' | translate }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email_subject" name="subject" placeholder="Email subject"
               ng-model="model.subject">
      </div>
    </div>
    <div id="email_body" data-summernote data-height="200" name="body" ng-model="model.body"></div>
  </div>
  <div class="mailbox-slidebox-footer ibox-footer text-right">
    <button type="submit" form="form" class="btn btn-primary btn-sm" ng-click="mbox.submitEmailForm(form, false)"
            ng-disabled="form.$invalid">
      <i class="fa fa-floppy-o"></i>&nbsp;{{ 'Compose' | translate }}
    </button>
    <button class="btn btn-danger btn-sm" ng-click="mbox.hideEmailForm(form)">
      <i class="fa fa-times"></i>&nbsp;{{ 'Discard' | translate }}
    </button>
  </div>
</form>
