

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Outlook view</h2>
  
                <div class="btn-group" role="group" style="margin-left:20px;">
                <button type="button" ng-class="{'active': (selected == 1)}" ng-click="selected=1" class="btn btn-default btn-md"> <i class="fa fa-info-circle"></i> </button>
                <button type="button" ng-class="{'active': (selected == 2)}" ng-click="selected=2" class="btn btn-default btn-md"> <i class="fa fa-comments-o"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 3)}" ng-click="selected=3" class="btn btn-default btn-md"> <i class="fa fa-envelope"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 4)}" ng-click="selected=4" class="btn btn-default btn-md"> <i class="fa fa-paperclip"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 5)}" ng-click="selected=5" class="btn btn-default btn-md"> <i class="fa fa-history"></i> </button>
              </div> 
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="fh-breadcrumb" ng-controller="MailboxCtrl">

            <div class="fh-column">
                <div class="full-height-scroll" full-scroll>
                    <div class="ibox float-e-margins m-b-none ">
                        <div class="ibox-content navy-bg">
                            <div class="file-manager">
                                <a href="#" class="file-control"><i class="fa fa-inbox"></i> Inbox</a>
                                <a href="#" class="file-control">Tasks</a>
                                <a href="#" class="file-control">Audio</a>
                                <a href="#" class="file-control">Images</a>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group elements-list">
                        <li class="list-group-item" ng-repeat="m in mail" >
                            <a data-toggle="tab" ng-click="showMail(m)">
                                <small class="pull-right text-muted"> 16.02.2015</small>
                                <strong>{{m.fromName}}</strong>

                                <div class="small m-t-xs">
                                    <p>
                                        {{m.subject}}
                                    </p>

                                    <p class="m-b-none">
                                        <i class="fa fa-check-square"></i> Task 008
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="full-height mailview">
                <div class="full-height-scroll white-bg border-left" full-scroll>

               
                    <div class="element-detail-box">

                    

                
                  
                            <div  class="tab-pane">
                                <div class="pull-right">
                                    <div class="tooltip-demo">
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="left"
                                                title="Plug this message"><i class="fa fa-plug"></i> Plug it
                                        </button>
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top"
                                                title="Mark as read"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top"
                                                title="" data-original-title="Mark as important"><i
                                                class="fa fa-exclamation"></i></button>
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top"
                                                title="" data-original-title="Move to trash"><i
                                                class="fa fa-trash-o"></i></button>

                                    </div>
                                </div>
                       

                                <h1>
                                    {{currentMail.subject}}
                                </h1>

<h5>
                        <span class="pull-right font-noraml">10:15AM 02 FEB 2014</span>
                        <span class="font-noraml">From: </span>{{currentMail.fromEmail}} ({{currentMail.fromName}})
                    </h5>



                              <p ng-bind-html="currentMail.body"></p>
                                
                                <!--div class="m-t-lg">
                                    <p>
                                        <span><i class="fa fa-paperclip"></i> 2 attachments - </span>
                                        <a href="#">Download all</a>
                                        |
                                        <a href="#">View all images</a>
                                    </p>

                                    <div class="attachment">
                                        <div class="file-box">
                                            <div class="file">
                                                <a href="#">
                                                    <span class="corner"></span>

                                                    <div class="icon">
                                                        <i class="fa fa-file"></i>
                                                    </div>
                                                    <div class="file-name">
                                                        Document_2014.doc
                                                        <br>
                                                        <small>Added: Jan 11, 2014</small>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="file-box">
                                            <div class="file">
                                                <a href="#">
                                                    <span class="corner"></span>

                                                    <div class="icon">
                                                        <i class="fa fa-line-chart"></i>
                                                    </div>
                                                    <div class="file-name">
                                                        Seels_2015.xls
                                                        <br>
                                                        <small>Added: May 13, 2015</small>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div-->
                            </div>
     

                    </div>

                </div>
            </div>


        </div>

        
