<div class="wrapper wrapper-content  animated fadeIn" ng-controller="ProjectsCtrl">
  <!--styles-->
  <style>
  .block {
    width: 100%;
  }
  </style>
  <!--styles end-->
  
  <div class="row">
    <div ng-class="{'col-sm-12' : page.mode == 0, 'hidden-xs hidden-sm hidden-md col-lg-7 col-xl-8' : page.mode == 1, 'hidden-xs hidden-sm hidden-md col-lg-4 col-xl-3' : page.mode == 2}">
      <!-- table ibox -->  

      <div class="ibox">

      <div class="ibox-content">
            <h2>{{ 'Projects' | translate }}</h2>
<div class="row m-b-sm m-t-sm">
    <div class="col-md-3">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Show filters</button>
    </div>

    <div class="col-md-7">
        <div class="input-group">
            <input type="text" placeholder="Search" class="input-sm form-control"> 
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary"> Go!</button> 
              </span>
        </div>
    </div>

    <div class="col-md-2">
      <button ng-click="createProjectAction()" type="button" class="btn btn-sm btn-primary pull-right" uib-dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-user-plus"></i> {{ 'Create project' | translate }}
      </button>
    </div>
</div>

<div class="project-list">

<table class="table table-hover">
<tbody>
<tr ng-repeat="proj in projects" mode="{{page.mode}}" >
    <td class="project-title">
        <a ng-click="openProject(proj)">{{proj.name}}</a>
        <br/>
        <small>Client: NA Client</small>
    </td>
    <td class="project-completion">
        <small>Completion with: 48%</small>
        <div class="progress progress-mini">
            <div style="width: 48%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
        
      </div>
      
      <!-- table ibox -->  

    </div>

    <!-- sidebar ibox -->  
      
    <div ng-class="{'col-sm-12 col-lg-5 col-xl-4' : page.mode == 1, 'col-sm-12 col-md-12 col-lg-8 col-xl-9' : page.mode == 2}" ng-show="page.mode == 1 || page.mode == 2">
        <!-- creation form -->
        <div class="ibox float-e-margins" ng-if="currentProject.id == null">
          <div class="ibox-title">
            <h5>Create new Project</h5>
          </div>
          <div class="ibox-content">
            <form role="form" class="form-inline">
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Project name</h4>
                  <input type="text" class="form-control" ng-model="currentProject.name" placeholder="Project name..." style="width:100%;" />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" style="margin-bottom:20px;">
                  <h4>Description</h4>
                  <textarea class="form-control" ng-model="currentProject.description" placeholder="Add description here..." style="width:100%;"></textarea>
                </div>
              </div>
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                    <h4>Assign to an employee(s)</h4>
                    <div class="input-group" style="width:100%;">
                      <input type="text" ng-model="temp.assignedCurrentUser" placeholder="Type employee name" uib-typeahead="emp as emp.fullname for emp in getEmloyees($viewValue)" typeahead-loading="loadingEmployees" typeahead-no-results="noResults" typeahead-on-select="empSelected($item, $model, $label, $event)" class="form-control">

                   </div>
                  <div class="employee-list" style="margin-top:10px">
                                        <button class="btn btn-default btn-sm pull-right" ng-click="addMyselfToAssigned()">Assign to {{userStr}}</button>

                    <ul style="list-style:none; margin:0; padding:0;">
                      <li ng-repeat="m in currentProject.members">
                        <button type="button" ng-click="deleteUserFromFilter(m)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                        <span>{{m.contactProfile.firstname}} {{m.contactProfile.lastname}} </span>
                      </li>
                    </ul>
                  </div>
              </div>
              </div>
                 <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Assign to a team(s)</h4>
                  <div class="input-group" style="width:100%;">
                      <input type="text" ng-model="temp.assignedCurrentTeam" placeholder="Type team name" uib-typeahead="emp as emp.fullname for emp in getEmloyees($viewValue)" typeahead-loading="loadingEmployees" typeahead-no-results="noResults" typeahead-on-select="empSelected($item, $model, $label, $event)" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Client</h4>
                  <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" placeholder="Add a client...">
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-danger btn-sm pull-right" ng-click="defaultMode()" style="margin-left:5px; margin-right:15px;"><i class="fa fa-times" style="margin-right:5px;"></i>Discard</button>
                <button class="btn btn-primary btn-sm pull-right" ng-click="create(currentProject)"><i class="fa fa-floppy-o" style="margin-right:5px;"></i>Save</button>
              </div>
            </form> 
          </div>
        </div>
        <!-- creation form end -->
        <!-- opened ticket -->
        <div class="ibox float-e-margins" ng-if="currentProject.id != null">
          <div class="ibox-title">
            <div class="row">
              <div class="btn-group" role="group" style="margin-left:20px;">
                <button type="button" ng-class="{'active': (selected == 1)}" ng-click="selected=1" class="btn btn-default btn-md"> <i class="fa fa-info-circle"></i> </button>
                <button type="button" ng-class="{'active': (selected == 2)}" ng-click="selected=2" class="btn btn-default btn-md"> <i class="fa fa-comments-o"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 3)}" ng-click="selected=3" class="btn btn-default btn-md"> <i class="fa fa-envelope"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 4)}" ng-click="selected=4" class="btn btn-default btn-md"> <i class="fa fa-paperclip"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 5)}" ng-click="selected=5" class="btn btn-default btn-md"> <i class="fa fa-history"></i> </button>
              </div>

              <div class="pull-right" style="margin-right:20px;">
                <button type="button" class="btn btn-sm btn-white" ng-click="expandMode()" ng-if="page.mode == 1"> <i class="fa fa-expand"></i> </button>
                <button type="button" class="btn btn-sm btn-white" ng-click="compressMode()" ng-if="page.mode == 2"> <i class="fa fa-compress"></i> </button>
                <button type="button" class="btn btn-sm btn-white" ng-click="defaultMode()"> <i class="fa fa-times"></i> </button>
              </div>
            </div>
             <div class="row" style="margin-top:20px;">
              <h5 style="margin-left:20px;">{{currentProject.name | uppercase}}</h5>
               <button class="btn btn-sm pull-right" style="margin-right:20px;" ng-class="{'btn-success': currentTicket.status == 1, 'btn-warning': currentTicket.status == 2, 'btn-danger': currentTicket.status == 3, 'btn-default': currentTicket.status == 4}">{{currentProj.priority}}</button>
              <button class="btn btn-sm pull-right" style="margin-right:5px;" ng-class="{'btn-success': currentTicket.status == 0, 'btn-warning': currentTicket.status == 2, 'btn-default': currentTicket.status == 3}">{{currentProj.status}}</button>
            </div>
          </div>
         

          <!-- ticket info -->
          <div class="ibox-content" ng-if="selected == 1">
            
            <div class="row">
              <!--1st part-->
              <div ng-class="{'col-sm-6': page.mode == 2, 'col-sm-12': page.mode == 1}">
                <ul class="list-group clear-list m-t-md">
                  <!--created by-->
                  <li class="list-group-item fist-item" ng-mouseenter="editName = true" ng-mouseleave="editName = false">
                    <div class="row">
                      <div class="col-sm-4" ng-class="{'col-sm-12' : editNameAction}">
                        <strong>Created by</strong>
                      </div>
                      <div class="col-sm-8">
                        <span ng-hide="editNameAction">{{currentEmp.user.contactProfile.firstname}} {{currentEmp.user.contactProfile.lastname}}</span>
                        <a  class="pull-right" ng-show="editName && !editNameAction" href ng-click="editNameAction = true"><i class="fa fa-pencil"></i> Edit </a>                    
                        <form role="form" ng-show="editNameAction">
                          <div class="form-group"><input type="text" ng-model="currentEmp.user.contactProfile.firstname" placeholder="First name" class="form-control"></div>
                          <div class="form-group"><input type="text" ng-model="currentEmp.user.contactProfile.lastname" placeholder="Last name" class="form-control"></div>
                          <div>
                            <div class="alert alert-danger alert-dismissable" ng-show="useralert"> 
                              <button aria-hidden="true" data-dismiss="alert" class="close" type="button" ng-click="useralert = undefined">×</button>
                              {{useralert}}. <a class="alert-link">check</a>.
                            </div>
                            <button class="btn btn-sm btn-primary" ng-click="save(currentEmp)">Save</button>
                            <button class="btn btn-sm btn-default" ng-click="editNameAction = false">Cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>   
                  <!--assigned to-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Assigned to</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                      Person-1
                      </div>
                    </div>
                  </li>
                  <!--team-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Team</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                      Team-1
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--2nd part-->
               <div ng-class="{'col-sm-6': page.mode == 2, 'col-sm-12': page.mode == 1}">
                <ul class="list-group clear-list m-t-md">
                  <!--description-->
                  <li class="list-group-item fist-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Description</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                      {{currentProject.description}}
                      </div>
                    </div>
                  </li>
                  <!--client-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Client</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                      Client-1
                      </div>
                    </div>
                  </li>
                    <!--date-->
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sm-4">
                          <strong>Date</strong>
                        </div>
                        <div class="col-sm-8 text-right">
                          Oct 29, 2010
                        </div>
                      </div>
                    </li>
                </ul>
              </div>
            </div>
              
          </div>
          <!-- ticket info end -->
        
        </div>

        <!-- opened ticket end -->

    </div>

    <!-- sidebar ibox end -->

  



  </div>
</div>



