<div class="wrapper wrapper-content  animated fadeIn" ng-controller="ProjectsCtrl">
  <!--styles-->
  <style>
  .block {
    width: 100%;
  }
  </style>
  <!--styles end-->
  
  <div class="row">
    <div ng-class="{'col-sm-12' : page.mode == 0, 'hidden-xs hidden-sm hidden-md col-lg-7 col-xl-8' : page.mode == 1, 'hidden-xs hidden-sm hidden-md col-lg-4 col-xl-3' : page.mode == 2}">
      <!-- table ibox -->  

      <div class="ibox">
        <div class="ibox-content">
          <div class="btn-group pull-right m-l-sm" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-sm btn-white m-l-sm" uib-dropdown-toggle ng-disabled="disabled">
              <i class="fa fa-cog"></i> 
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href></a></li>
              <li role="menuitem"><a href>Assign ticket</a></li>
              <li role="menuitem"><a href>Assign delegate role</a></li>
              <li role="menuitem"><a href>Send email</a></li>
              <li role="menuitem"><a href>Export in exel</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href ng-click="delete()">Delete project</a></li>
            </ul>
          </div>

          <button ng-click="createProjectAction()" type="button" class="btn btn-sm btn-primary pull-right" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-user-plus"></i> {{ 'Create project' | translate }}
          </button>

          <h2>{{ 'Projects' | translate }}</h2>
          
          <!--FILTERS start-->
          <!--main search-->
          <div class="input-group col-md-6 m-b-sm">
            <input type="text" placeholder="Search projects..." class="input form-control" ng-model="searchTerm" ng-change="searchEmployees()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-default"> <i class="fa fa-close"></i></button>

            </span>

          </div>

         <!--btns-->
                <button type="button" ng-click="isCollapsed = true"  ng-hide="isCollapsed==true" class="btn btn-primary btn-sm">
                    <i class="fa fa-eye" style="padding-right:5px;"></i>Show filters
                </button>
                <button type="button" ng-click="isCollapsed = false" ng-hide="isCollapsed==false" class="btn btn-default btn-sm">
                    <i class="fa fa-eye-slash" style="padding-right:5px;"></i>Hide filters
                </button>
                <button type="button" ng-click="filterClear" ng-hide="isCollapsed==false" class="btn btn-danger btn-sm">
                 <i class="fa fa-trash" style="padding-right:5px;"></i>Clear filters
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-hide="isCollapsed==false">
                    <i class="fa fa-floppy-o" style="padding-right:5px;"></i>Save filters
                </button> 
                
                <!--advanced filters start-->
                <div ng-if="isCollapsed">
                    <form role="form" class="form-inline">
                        <div class="form-group" style="margin-right:10px;">
                            <!--status-->
                            <h4>Status</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Status..." class="form-control">
                            </div> 
                        </div>
                        <div class="form-group" style="margin-right:10px;">
                            <!--ticket-->
                            <h4>Ticket</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Ticket..." class="form-control">
                            </div>
                        </div>
                        <div class="form-group" style="margin-right:10px;">
                            <h4>Team</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Team..." class="form-control">
                            </div> 
                        </div>
                        <div class="form-group" style="margin-right:10px;">
                        <!--created-->
                            <h4>Created</h4>
                            <div id="reportrange" class="form-control">
                                <i class="fa fa-calendar"></i>
                                <span>April 22, 2016 - May 21, 2016</span> <b class="caret"></b>
                            </div>
                        </div>                                               
                    </form>
                    <form role="form" class="form-inline">
                        <div class="form-group" style="margin-right:10px;">
                            <!--priority-->
                            <h4>Priority</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Priority..." class="form-control">
                            </div> 
                        </div>
                        <div class="form-group" style="margin-right:10px;">
                            <!--client-->
                            <h4>Client</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Client..." class="form-control">
                            </div>
                        </div>
                        <div class="form-group" style="margin-right:10px;">
                            <!--person-->
                            <h4>Person</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Person..." class="form-control">
                            </div>
                        </div>
                        <div class="form-group" style="margin-right:10px;">
                            <!--deadline-->
                            <h4>Deadline</h4>
                            <div id="reportrange" class="form-control">
                                <i class="fa fa-calendar"></i>
                                <span>April 22, 2016 - May 21, 2016</span> <b class="caret"></b>
                            </div>    
                        </div>                                               
                    </form> 
                </div>

                <div class="project-list">

                  <table class="table table-hover">
                    <tbody>
                      <tr ng-repeat="project in projects" mode="{{page.mode}}" >
                        <td><input type="checkbox" class="green-check" ng-model="project.selected"/></td>
                        <td class="project-title">
                          <a ng-click="openProject(project)">{{project.name}}</a>
                        <br/>
                          <small>NA: Client</small>
                          
                        </td>
                        <td class="project-completion">
                            <small>Completion with: 48%</small>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </td>
                        <td class="project-people">
                            <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        </div>
        
      </div>
      
      <!-- table ibox -->  

    </div>

    <!-- sidebar ibox -->  
      
    <div ng-class="{'col-sm-12 col-lg-5 col-xl-4' : page.mode == 1, 'col-sm-12 col-md-12 col-lg-8 col-xl-9' : page.mode == 2}" ng-show="page.mode == 1 || page.mode == 2">
        <!-- creation form -->
        <div class="ibox float-e-margins" ng-if="currentProject.id == null">
          <div class="ibox-title">
            <h5>Create new Project</h5>
          </div>
          <div class="ibox-content">
            <form role="form" class="form-inline">
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Project name</h4>
                  <input type="text" class="form-control" ng-model="currentProject.name" placeholder="Project name..." style="width:100%;" />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" style="margin-bottom:20px;">
                  <h4>Description</h4>
                  <textarea class="form-control" ng-model="currentProject.description" placeholder="Add description here..." style="width:100%;"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" style="margin-bottom:20px;">
                    <h4>Deadline</h4>
                    <div class="input-group" style="width:50%;">
                        <datepicker>
                          <input class="form-control" ng-model="currentProject.deadline" type="  text"/> 
                        </datepicker> 
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                    </div>
                </div>
              </div>
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Assign to an employee(s)</h4>
                  <div class="input-group" style="width:100%;">
                    <input type="text" ng-model="temp.assignedCurrentUser" placeholder="Type employee name" uib-typeahead="emp as emp.fullname for emp in getEmloyees($viewValue)" typeahead-loading="loadingEmployees" typeahead-no-results="noResults" typeahead-on-select="empSelected($item, $model, $label, $event)" class="form-control">
                  </div>
                  <div class="employee-list" style="margin-top:10px">
                    <button class="btn btn-default btn-sm pull-right" ng-click="addMyselfToAssigned()">Assign to {{userStr}}</button>
                    <ul style="list-style:none; margin:0; padding:0;">
                      <li ng-repeat="member in currentProject.members">
                        <button type="button" ng-click="deleteUserFromFilter(member)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                        <span>{{member.contactProfile.firstname}} {{member.contactProfile.lastname}} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
                 <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Assign to a team(s)</h4>
                  <div class="input-group" style="width:100%;">
                      <input type="text" ng-model="temp.assignedCurrentTeam" placeholder="Type team name" uib-typeahead="team as team.name for team in getTeams($viewValue)" typeahead-loading="loadingTeams" typeahead-no-results="noResults" typeahead-on-select="teamSelected($item, $model, $label, $event)" class="form-control">
                  </div>
                  <div class="employee-list" style="margin-top:10px">
                    <ul style="list-style:none; margin:0; padding:0;">
                      <li ng-repeat="team in currentProject.teams">
                        <button type="button" ng-click="deleteTeamFromFilter(team)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                        <span> {{team.name}} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-12">
                  <h4>Client</h4>
                  <div class="input-group" style="width:100%;">
                      <input type="text" ng-model="temp.assignedCurrentClient" placeholder="Type client name" uib-typeahead="client as client.fullname for client in getClients($viewValue)" typeahead-loading="loadingClients" typeahead-no-results="noResults" typeahead-on-select="clientSelected($item, $model, $label, $event)" class="form-control">
                   </div>
                  <div class="employee-list" style="margin-top:10px">
                    <ul style="list-style:none; margin:0; padding:0;">
                      <li ng-repeat="client in currentProject.clients">
                        <button type="button" ng-click="deleteClientFromFilter(client)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                        <span>{{client.contactProfile.firstname}} {{client.contactProfile.lastname}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-danger btn-sm pull-right" ng-click="defaultMode()" style="margin-left:5px; margin-right:15px;"><i class="fa fa-times" style="margin-right:5px;"></i>Discard</button>
                <button class="btn btn-primary btn-sm pull-right" ng-click="create(currentProject)"><i class="fa fa-floppy-o" style="margin-right:5px;"></i>Save</button>
              </div>
            </form> 
          </div>
        </div>
        <!-- creation form end -->
      
        <!-- opened project -->
        <div class="ibox float-e-margins" ng-if="currentProject.id != null">
          <div class="ibox-title">
            <div class="row">
              <div class="btn-group" role="group" style="margin-left:20px;">
                <button type="button" ng-class="{'active': (selected == 1)}" ng-click="selected=1" class="btn btn-default btn-md"> <i class="fa fa-info-circle"></i> </button>
                <button type="button" ng-class="{'active': (selected == 2)}" ng-click="selected=2" class="btn btn-default btn-md"> <i class="fa fa-user-plus"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 3)}" ng-click="selected=3" class="btn btn-default btn-md"> <i class="fa fa-users"></i> </button> 
                <button type="button" ng-class="{'active': (selected == 4)}" ng-click="selected=4" class="btn btn-default btn-md"> <i class="fa fa-ticket"></i> </button> 
              </div>

              <div class="pull-right" style="margin-right:20px;">
                <button type="button" ng-hide="selected == 2 || selected == 3 || selected == 4" class="btn btn-sm btn-white" ng-click="expandMode()" ng-if="page.mode == 1"> <i class="fa fa-expand"></i> </button>
                <button type="button" class="btn btn-sm btn-white" ng-click="compressMode()" ng-if="page.mode == 2"> <i class="fa fa-compress"></i> </button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="deleteProject(currentProject)" style="margin: 5px"> <i class="fa fa-trash"></i> </button>
                <button type="button" class="btn btn-sm btn-white" ng-click="defaultMode()"> <i class="fa fa-times"></i> </button>

              </div>
            </div>
             <div class="row" style="margin-top:20px;">
              <h5 style="margin-left:20px;">{{currentProject.name | uppercase}}</h5>
               
            </div>
          </div>
          <!-- project info -->
          <div class="ibox-content" ng-if="selected == 1">
            <div class="row">
              <div ng-class="{'col-sm-6': page.mode == 2, 'col-sm-12': page.mode == 1}">
                <ul class="list-group clear-list m-t-md">
                  <!--project name-->
                  <li class="list-group-item fist-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Project name</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                      Project-1
                      </div>
                    </div>
                  </li>
                  <!--description-->
                  <li class="list-group-item" ng-mouseenter="editDescription = true" ng-mouseleave="editDescription = false">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Description</strong>
                      </div>
                       <div class="col-sm-8">
                        <span ng-hide="page.editDescriptionAction">{{currentProject.description}}</span>
                        <a  class="pull-right" ng-show="editDescription && !page.editDescriptionAction" href ng-click="page.editDescriptionAction = true"><i class="fa fa-pencil"></i> Edit </a>                    
                        <form role="form" ng-show="page.editDescriptionAction">
                          <div class="form-group">
                            <textarea  rows="3" style="width: 100%;border: 1px solid #E5E6E7;" type="text" ng-model="currentProject.description" placeholder="currentProject.description" class="form-control"></textarea>
                          <div>
                            <div class="alert alert-danger alert-dismissable" ng-show="useralert"> 
                              <button aria-hidden="true" data-dismiss="alert" class="close" type="button" ng-click="useralert = undefined">×</button>
                              {{useralert}}.<a class="alert-link">check</a>.
                            </div>
                            <button class="btn btn-sm btn-default pull-right" ng-click="page.editDescriptionAction = false" style="margin-top:10px;">Cancel</button>
                            <button class="btn btn-sm btn-primary pull-right" ng-click="save(currentProject)" style="margin-top:10px; margin-right:5px;">Save</button>
                          </div>
                          </div>
                        </form>
                    </div>
                    </div>
                  </li>
                  <!--progress-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Progress</strong>
                      </div>
                      <div class="col-sm-8">
                        <div class="progress progress-bar-default">
                          <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar" class="progress-bar">
                            <span class="sr-only">43% Complete (success)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-class="{'col-sm-6': page.mode == 2, 'col-sm-12': page.mode == 1}">
                <ul class="list-group clear-list m-t-md">
                  <!--client-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Client</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                      Client-1
                      </div>
                    </div>
                  </li>
                  <!--start date-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Start date</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                        {{currentProject.createdAt | date : "MMM d, y"}}
                      </div>
                    </div>
                  </li>
                  <!--end date-->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>End date</strong>
                      </div>
                      <div class="col-sm-8 text-right">
                        {{currentProject.deadline | date : "MMM d, y"}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          <!-- project info end -->
          
          
          <!--project tickets end-->
          
          <!-- opened project end -->
        </div>
          <!--project members start-->
          <div class="ibox-content" ng-if="selected == 2">
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-group clear-list m-t-md">
                <!--members-->
                  <li class="list-group-item fist-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Members</strong>
                      </div>
                      <div class="col-sm-8">

                        <div class="input-group" style="width:100%;" ng-show="page.editParticipants">
                          <input type="text" ng-model="temp.assignedCurrentUser" placeholder="Type employee name" uib-typeahead="emp as emp.fullname for emp in getEmloyees($viewValue)" typeahead-loading="loadingEmployees" typeahead-no-results="noResults" typeahead-on-select="empSelected($item, $model, $label, $event)" class="form-control">
                        </div>
                        
                        <div class="employee-list" style="margin-top:10px" ng-show="page.editParticipants">
                            <ul style="list-style:none; margin:0; padding:0;">
                              <li ng-repeat="m in currentProject.members">
                                <button type="button" ng-click="deleteUserFromFilter(m)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                <span>{{m.contactProfile.firstname}} {{m.contactProfile.lastname}} </span>
                              </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-default pull-right" ng-show="page.editParticipants" ng-click="page.editParticipants = false" style="margin-top:10px;">Cancel</button>
                        <button class="btn btn-sm btn-primary pull-right" ng-show="page.editParticipants" ng-click="saveMembers(currentProject)" style="margin-top:10px; margin-right:5px;">Save</button>
                        <div class="text-right" ng-repeat="member in currentProject.members" ng-hide="page.editParticipants">
                          {{member.contactProfile.firstname}} {{member.contactProfile.lastname}}
                        </div>
                        <div>
                          <a class="pull-right" ng-hide="page.editParticipants" href ng-click="page.editParticipants = true"><i class="fa fa-user-plus"></i> Add more / Remove </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--project members end-->
          
          <!--project teams start-->
          <div class="ibox-content" ng-if="selected == 3">
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-group clear-list m-t-md">
                <!--teams-->
                  <li class="list-group-item fist-item">
                    <div class="row">
                      <div class="col-sm-4">
                        <strong>Teams</strong>
                      </div>
                      <div class="col-sm-8">
                        <div class="input-group" style="width:100%;" ng-show="page.editTeams">
                          <input type="text" ng-model="temp.assignedCurrentTeam" placeholder="Type team name" uib-typeahead="team as team.name for team in getTeams($viewValue)" typeahead-loading="loadingTeams" typeahead-no-results="noResults" typeahead-on-select="teamSelected($item, $model, $label, $event)" class="form-control">
                        </div>
                        <div class="employee-list" style="margin-top:10px" ng-show="page.editTeams">
                          <ul style="list-style:none; margin:0; padding:0;">
                            <li ng-repeat="team in currentProject.teams">
                              <button type="button" ng-click="deleteTeamFromFilter(team)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>    
                              <span> {{team.name}} </span>      
                            </li>     
                          </ul>
                        </div>
                        <button class="btn btn-sm btn-default pull-right" ng-show="page.editTeams" ng-click="page.editTeams = false" style="margin-top:10px;">Cancel</button>
                        <button class="btn btn-sm btn-primary pull-right" ng-show="page.editParticipants" ng-click="saveMembers(currentTicket)" style="margin-top:10px; margin-right:5px;">Save</button>
                        <div class="text-right" ng-repeat="teams in currentProject.teams" ng-hide="page.editParticipants">
                          {{team.name}}
                        </div>
                        <div>
                          <a class="pull-right" ng-hide="page.editTeams" href ng-click="page.editTeams = true"><i class="fa fa-user-plus"></i> Add more / Remove </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--project teams end-->
          
          <!--project tickets start-->
           <div class="ibox-content" ng-if="selected == 4">
            <ul class="list-unstyled project-files">
                <li><a href=""><i class="fa fa-ticket" style="margin-right:5px;"></i>Ticket-1</a></li>
                <li><a href=""><i class="fa fa-ticket" style="margin-right:5px;"></i>Ticket-2</a></li>
                <li><a href=""><i class="fa fa-ticket" style="margin-right:5px;"></i>Ticket-3</a></li>
                <li><a href=""><i class="fa fa-ticket" style="margin-right:5px;"></i>Ticket-4</a></li>
            </ul>
          </div>
      <!-- sidebar ibox end -->
      </div>
  </div>
</div> 






