<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{obj.name}}
                    {{obj.age}}


                </h1>



                <small>
                    {{main.descriptionText}}

                    <i class="glyphicon glyphicon-pencil"></i>
                </small>
            </div>
            <input ng-model="obj.name">
                        <br>
                        <a href ng-click="editMode = !editMode">change mode</a>
                        <a href ng-click="addEmptyPosition()">add</a>
            <br>
                    <ul ng-show="editMode">
                        <li ng-repeat="position in positionsList" ><input ng-model="position.name" value="{{position.name}}"><a href ng-show="editMode" ng-click="save(position)">save</a>
</li>

                    </ul>


                    <ul ng-hide="editMode">
                        <li ng-repeat="position in positionsList" >{{position.name}}</li>
                    </ul>
        </div>
    </div>
</div>