<div class="modal-body">
                            <div class="row m-b-sm">
                                <div class="col-sm-11">
                                    <h3 class="m-t-none m-b">Create new Employee</h3>
                                </div>
                                <div class="col-sm-1">
                                    <div class="ibox-tools">
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form" ng-submit="ok(user)">
                                        <div class="form-group"><label>First name*</label> <input ng-model="user.contactProfile.firstname" type="fName" placeholder="Enter first name" class="form-control"></div>
                                        <div class="form-group"><label>Last Name*</label> <input ng-model="user.contactProfile.lastname" type="lName" placeholder="Enter last name" class="form-control"></div>
                                        <div class="form-group"><label>Email*</label> <input ng-model="user.contactProfile.email"  type="email" placeholder="Enter email" class="form-control"></div>

                                        <label class="crm-required-field small pull-right">*These fields are required</label>

                                        <div class="form-group"><label>Address</label> <input type="address" placeholder="Enter your address" class="form-control"></div>
                                         <div class="form-group"><label>City</label> <input type="city" placeholder="Enter your city" class="form-control"></div>
                                         <div class="form-group"><label>ZIP code</label> <input type="zipCode" placeholder="Enter your ZIP code" class="form-control"></div>
                                         <div class="form-group"><label>Phone(M)</label> <input type="mPhone" placeholder="Enter your mobile number" class="form-control"></div>
                                        <!--div class="form-group"><label>Phone(H)</label> <input type="hPhone" placeholder="Enter your home number" class="form-control"></div-->
                                        
                                        <label>Choose a role</label>
                                        <select class="form-control m-b" name="account">
                                            <option>Employee</option>
                                            <option>Manager</option>
                                            <option>Owner</option>
                                    </select>

                                    <div class="pull-right">

                                        <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger">Cancel</button>

                                        <button type="submit" class="btn btn-sm btn-primary"> Add</button>

                                    </div>


                                    </form>
                                </div>
                                </div>
                                </div>
