<!-- Content box -->
<div class="ibox ticket-box col-xs-12 p-h-none" ng-init="loadStats = empDetail.loadStats">
  <!-- Content box title -->
  <div class="ibox-title clearfix">
    <a ui-sref="index.employees.list()" class="btn btn-default pull-left" ><i class="fa fa-chevron-left"></i></a>
    <span class="pull-right" uib-dropdown auto-close="outsideClick" is-open="options">
      <button class="btn btn-default" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li>
          <a href role="button" ng-click="empDetail.dialogs.empDel.open()">
            <i class="fa fa-trash-o"></i>&nbsp;{{ 'Delete' | translate }}
          </a>
        </li>
      </ul>
    </span>
    <h3 class="ibox-title-text pull-left" ng-bind="'Profile detail' | translate"></h3>
  </div>
  <!-- Content box body -->
  <div class="ibox-content clearfix">
    <!-- Placeholders -->
    <div class="ticket-pholder text-center" ng-hide="loadStats.page === 1">
      <h4 class="ticket-pholder-content" ng-show="loadStats.page === 2">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Loading profile info' | translate }}...</span>
      </h4>
      <div class="ticket-pholder-content" ng-show="loadStats.page === 0">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Unable to get profile info. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" ng-bind="'Try again' | translate"
                ng-click="empDetail.getEmp()">
        </button>
      </div>
    </div>
    <div class="ticket-pholder text-center" ng-hide="loadStats.edit === 1">
      <h4 class="ticket-pholder-content" ng-show="loadStats.edit === 2">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Saving profile info' | translate }}...</span>
      </h4>
      <div class="ticket-pholder-content" ng-show="loadStats.edit === 0">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Unable to save profile info. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" ng-bind="'Try again' | translate"
                ng-click="empDetail.loadStats.edit = 1">
        </button>
      </div>
    </div>
    <div class="ticket-pholder text-center" ng-hide="loadStats.del === 1">
      <h4 class="ticket-pholder-content" ng-show="loadStats.del === 2">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Deleting profile' | translate }}...</span>
      </h4>
      <div class="ticket-pholder-content" ng-show="loadStats.del === 0">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Something went wrong. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" ng-bind="'Try again' | translate"
                ng-click="loadStats.del = 1">
        </button>
      </div>
    </div>
    <!-- Profile info -->
    <div class="col-xs-12 col-lg-6 m-b-md">
      <!-- <div class="col-xs-6 col-sm-4 col-md-5 col-lg-4 p-h-none text-right"> -->
      <div class="profile-image employee-profile-image">
        <!-- Avatar -->
        <div class="employee-avatar">
          <span class="fa fa-5x fa-user"></span>
        </div>
        <br>
        <button class="btn btn-primary" role="button">
          <i class="fa fa-envelope"></i>&nbsp;{{ 'Send message' | translate }}
        </button>
      </div>
      <ul class="profile-info employee-profile-info col-md-6 list-unstyled">
        <li class="ticket-info-row">
          <h2 class="employee-name dsp-inline-block full-width br-word">
            {{ empDetail.origModel.user | crmUserDisplayName }}&nbsp;
            <a href class="dsp-inline-block font-base" ng-click="empDetail.dialogs.pfileInfo.open()"
               ng-bind="'Edit' | translate">
            </a>
          </h2>
        </li>
        <li class="ticket-info-row clearfix">
          <label class="col-sm-5 col-md-4 col-lg-3 text-right">{{ 'Phone' | translate }}:</label>
          <span class="dsp-inline-block col-sm-7 col-md-8 col-lg-9 br-word"
                ng-bind="empDetail.origModel.user.contactProfile['phoneNumberMobile']">
          </span>
        </li>
        <li class="ticket-info-row clearfix">
          <label class="col-sm-5 col-md-4 col-lg-3 text-right">{{ 'Email' | translate }}:</label>
          <span class="dsp-inline-block col-sm-7 col-md-8 col-lg-9 br-word"
                ng-bind="empDetail.origModel.user.contactProfile.email">
          </span>
        </li>
      </ul>
    </div>
    <!-- Additional information -->
    <ul uib-tabset class="employee-add-info col-xs-12 col-lg-6 m-b-md" type="pills"
        ng-init="addInf = empDetail.origModel.additionalInfo; pfile = empDetail.origModel.user.contactProfile">
      <li class="pull-left">{{ 'Show' | translate }}:</li>
      <li uib-tab index="0" heading="{{ 'Union info' | translate }}" select="empDetail.addInfTab = 'unionInfo'">
        <table class="employee-add-info-list">
          <tbody>
            <tr>
              <td>{{ 'Membership number' | translate }}:</td>
              <td>
                <span ng-show="addInf.membershipNum" ng-bind="addInf.membershipNum"></span>
                <span ng-hide="addInf.membershipNum">-</span>
              </td>
              <td>{{ 'Resigned date' | translate }}:</td>
              <td>
                <span ng-show="addInf.resignedDate" ng-bind="addInf.resignedDate | date:'dd.MM.yyyy'"></span>
                <span ng-hide="addInf.resignedDate">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Enrolled Dept' | translate }}:</td>
              <td>
                <span ng-show="addInf.enrolledDept" ng-bind="addInf.enrolledDept | date:'dd.MM.yyyy'"></span>
                <span ng-hide="addInf.enrolledDept">-</span>
              </td>
              <td>{{ 'Shop steward courses' | translate }}:</td>
              <td>
                <span ng-show="addInf.shopStewardCourses" ng-bind="addInf.shopStewardCourses | date:'dd.MM.yyyy'">
                </span>
                <span ng-hide="addInf.shopStewardCourses">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Enrolled IE' | translate }}:</td>
              <td>
                <span ng-show="addInf.enrolledIE" ng-bind="addInf.enrolledIE | date:'dd.MM.yyyy'"></span>
                <span ng-hide="addInf.enrolledIE">-</span>
              </td>
              <td>{{ 'Agreement' | translate }}:</td>
              <td>
                <span ng-show="addInf.agreement" ng-bind="addInf.agreement"></span>
                <span ng-hide="addInf.agreement">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Enrolled LO' | translate }}:</td>
              <td>
                <span ng-show="addInf.enrolledLO" ng-bind="addInf.enrolledLO | date:'dd.MM.yyyy'"></span>
                <span ng-hide="addInf.enrolledLO">-</span>
              </td>
              <td>{{ 'Referred by' | translate }}:</td>
              <td>
                <span ng-show="addInf.refBy" ng-bind="addInf.refBy"></span>
                <span ng-hide="addInf.refBy">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Union' | translate }}:</td>
              <td colspan="3">
                <span ng-show="empDetail.origModel.union" ng-bind="empDetail.origModel.union.name"></span>
                <span ng-hide="empDetail.origModel.union">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Comment' | translate }}:</td>
              <td colspan="3">
                <span ng-show="addInf.comment" ng-bind="addInf.comment"></span>
                <span ng-hide="addInf.comment">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li uib-tab index="1" heading="{{ 'Working info' | translate }}" select="empDetail.addInfTab = 'workInfo'">
        <table class="employee-add-info-list">
          <tbody>
            <tr>
              <td>{{ 'Employee number' | translate }}:</td>
              <td>
                <span ng-show="addInf.emplNumber" ng-bind="addInf.emplNumber"></span>
                <span ng-hide="addInf.emplNumber">-</span>
              </td>
              <td>{{ 'Workplace' | translate }}:</td>
              <td>
                <span ng-show="addInf.workplace" ng-bind="addInf.workplace"></span>
                <span ng-hide="addInf.workplace">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Position' | translate }}:</td>
              <td>
                <span ng-show="empDetail.origModel.position" ng-bind="empDetail.origModel.position.name"></span>
                <span ng-hide="empDetail.origModel.position">-</span>
              </td>
              <td>{{ 'VO Courses' | translate }}:</td>
              <td>
                <span ng-show="addInf.voCourses" ng-bind="addInf.voCourses | date:'dd.MM.yyyy'"></span>
                <span ng-hide="addInf.voCourses">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Company' | translate }}:</td>
              <td ng-bind="empDetail.company"></td>
              <td>{{ 'Shift' | translate }}:</td>
              <td>
                <span ng-show="empDetail.origModel.shift" ng-bind="empDetail.origModel.shift.name"></span>
                <span ng-hide="empDetail.origModel.shift">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Status' | translate }}:</td>
              <td>
                <span ng-show="addInf.status" ng-bind="addInf.status"></span>
                <span ng-hide="addInf.status">-</span>
              </td>
              <td>{{ 'Onshore / Offshore' | translate }}:</td>
              <td ng-bind="addInf.land ? 'Onshore' : 'Offshore' | translate"></td>
            </tr>
            <tr>
              <td>{{ 'Department' | translate }}:</td>
              <td>
                <span ng-show="empDetail.origModel.department" ng-bind="empDetail.origModel.department.name"></span>
                <span ng-hide="empDetail.origModel.department">-</span>
              </td>
              <td>{{ 'Seniority date' | translate }}:</td>
              <td>
                <span ng-show="addInf.seniorityDate" ng-bind="addInf.seniorityDate | date:'dd.MM.yyyy'"></span>
                <span ng-hide="addInf.seniorityDate">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li uib-tab index="2" heading="{{ 'Private info' | translate }}" select="empDetail.addInfTab = 'privateInfo'">
        <table class="employee-add-info-list">
          <tbody>
            <tr>
              <td>{{ 'Social security number' | translate }}:</td>
              <td>
                <span ng-show="addInf.socialSecNumber" ng-bind="addInf.socialSecNumber"></span>
                <span ng-hide="addInf.socialSecNumber">-</span>
              </td>
              <td>{{ 'Airport' | translate }}:</td>
              <td>
                <span ng-show="addInf.airport" ng-bind="addInf.airport"></span>
                <span ng-hide="addInf.airport">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Date of birth' | translate }}:</td>
              <td>-</td>
              <td>{{ 'City / ZIP code' | translate }}:</td>
              <td>
                <span ng-show="pfile.city" ng-bind="pfile.city"></span>
                <span ng-show="pfile.city && pfile.zipCode">/</span>
                <span ng-show="pfile.zipCode" ng-bind="pfile.zipCode"></span>
                <span ng-hide="pfile.city || pfile.zipCode">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Private Email' | translate }}:</td>
              <td>
                <span ng-show="pfile.emailHome" ng-bind="pfile.emailHome"></span>
                <span ng-hide="pfile.emailHome">-</span>
              </td>
              <td>{{ 'Jacket size' | translate }}:</td>
              <td>
                <span ng-show="addInf.jacketSize" ng-bind="addInf.jacketSize"></span>
                <span ng-hide="addInf.jacketSize">-</span>
              </td>
            </tr>
            <tr>
              <td>{{ 'Address I' | translate }}:</td>
              <td>
                <span ng-show="pfile.address" ng-bind="pfile.address"></span>
                <span ng-hide="pfile.address">-</span>
              </td>
              <td>{{ 'Individual paid' | translate }}:</td>
              <td ng-bind="addInf.indivPaid ? 'Yes' : 'No' | translate"></td>
            </tr>
            <tr>
              <td>{{ 'Address II' | translate }}:</td>
              <td>
                <span ng-show="pfile.secondAddress" ng-bind="pfile.secondAddress"></span>
                <span ng-hide="pfile.secondAddress">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="pull-right">
        <span>
          <a href role="button" ng-click="empDetail.dialogs[empDetail.addInfTab].open()" ng-bind="'Edit' | translate">
          </a>
        </span>
      </li>
    </ul>
    <!-- Ticket tabs -->
    <div uib-tabset class="ticket-tabs employee-tabs col-xs-12 p-h-none" active="empDetail.activeTab">
      <div uib-tab index="$index" disable="tab.disabled" ng-repeat="tab in ::empDetail.tabs">
        <span uib-tab-heading><i class="fa" ng-class="::tab.icon"></i>{{ ::tab.title | translate }}</span>
        <div class="clearfix" ng-include="tab.template"></div>
      </div>
    </div>
  </div>
</div>
<!-- Dialog form for main profile info -->
<script type="text/ng-template" id="pfileInfoEditDlg.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title" id="pfile_info_dlg_title" ng-bind="'Change main information' | translate"></h3>
  </div>
  <form name="form" class="form-horizontal modal-body" id="pfile_info_dlg_body"
        ng-init="pfile = model.user.contactProfile">
    <div class="clearfix" ng-include="'pfileInfoForm.html'"></div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()" ng-disabled="form.$invalid || form.$pristine"
            ng-bind="'Save' | translate">
    </button>
    <button class="btn btn-danger" type="button" ng-click="$dismiss()" ng-bind="'Cancel' | translate"></button>
  </div>
</script>
<!-- Dialog form for union info -->
<script type="text/ng-template" id="unionInfoEditDlg.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title" id="union_info_dlg_title" ng-bind="'Change union information' | translate"></h3>
  </div>
  <form name="form" class="form-horizontal modal-body" id="union_info_dlg_body" ng-init="addInf = model.additionalInfo">
    <div class="clearfix" ng-include="'unionInfoForm.html'"></div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()" ng-disabled="form.$invalid || form.$pristine"
            ng-bind="'Save' | translate">
    </button>
    <button class="btn btn-danger" type="button" ng-click="$dismiss()" ng-bind="'Cancel' | translate"></button>
  </div>
</script>
<!-- Dialog form for working info -->
<script type="text/ng-template" id="workInfoEditDlg.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title" id="work_info_dlg_title" ng-bind="'Change working information' | translate"></h3>
  </div>
  <form name="form" class="form-horizontal modal-body" id="work_info_dlg_body" ng-init="addInf = model.additionalInfo">
    <div class="clearfix" ng-include="'workInfoForm.html'"></div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()" ng-disabled="form.$invalid || form.$pristine"
            ng-bind="'Save' | translate">
    </button>
    <button class="btn btn-danger" type="button" ng-click="$dismiss()" ng-bind="'Cancel' | translate"></button>
  </div>
</script>
<!-- Dialog form for private info -->
<script type="text/ng-template" id="privateInfoEditDlg.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title" id="private_info_dlg_title" ng-bind="'Change private information' | translate"></h3>
  </div>
  <form name="form" class="form-horizontal modal-body" id="private_info_dlg_body"
        ng-init="addInf = model.additionalInfo; pfile = model.user.contactProfile">
    <div class="clearfix" ng-include="'privateInfoForm.html'"></div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()" ng-disabled="form.$invalid || form.$pristine"
            ng-bind="'Save' | translate">
    </button>
    <button class="btn btn-danger" type="button" ng-click="$dismiss()" ng-bind="'Cancel' | translate"></button>
  </div>
</script>
<!-- Dialog form for employee deleting -->
<script type="text/ng-template" id="empDelDlg.html">
  <div class="modal-body" id="delete_info_dlg_body">
    <h3 ng-bind="'Delete a profile ?' | translate"></h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="$close()" ng-bind="'Delete' | translate"></button>
    <button class="btn btn-default" type="button" ng-click="$dismiss()" ng-bind="'Cancel' | translate"></button>
  </div>
</script>
