<!-- Content box -->
<div class="ibox ticket-box col-xs-12 p-h-none" ng-init="loadStats = empDetail.loadStats">
  <!-- Content box title -->
  <div class="ibox-title clearfix">
    <a ui-sref="index.employees.list()" class="btn btn-default pull-left" ><i class="fa fa-chevron-left"></i></a>
    <span class="pull-right">
      <button class="btn btn-default"><i class="fa fa-cog"></i></button>
    </span>
    <h3 class="ibox-title-text pull-left" ng-bind="'Profile detail' | translate"></h3>
  </div>
  <!-- Content box body -->
  <div class="ibox-content clearfix">
    <!-- Placeholders -->
    <div class="ticket-pholder text-center" ng-hide="loadStats.page === 1">
      <h4 class="ticket-pholder-content" ng-show="loadStats.page === 2">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Loading profile info' | translate }}...</span>
      </h4>
      <div class="ticket-pholder-content" ng-show="loadStats.page === 0">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Unable to get profile info. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" ng-bind="'Try again' | translate"
                ng-click="empDetail.getEmp()">
        </button>
      </div>
    </div>
    <!-- Employee personal info -->
    <div class="col-xs-12 col-lg-6 m-b-md">
      <!-- <div class="col-xs-6 col-sm-4 col-md-5 col-lg-4 p-h-none text-right"> -->
      <div class="profile-image employee-profile-image">
        <!-- Avatar -->
        <div class="employee-avatar">
          <span class="fa fa-5x fa-user"></span>
        </div>
        <br>
        <button class="btn btn-primary" role="button">
          <i class="fa fa-envelope"></i>&nbsp;{{ 'Send message' | translate }}
        </button>
      </div>
      <ul class="profile-info employee-profile-info list-unstyled">
        <li class="ticket-info-row">
          <h2 class="employee-name dsp-inline-block" ng-bind="empDetail.origModel.user | crmUserDisplayName"></h2>
          &nbsp;
          <a href class="dsp-inline-block" ng-click="empDetail.dialogs.mainInfo.open()"
             ng-bind="'Edit' | translate">
          </a>
        </li>
        <li class="ticket-info-row clearfix">
          <label class="col-sm-5 col-md-4 col-lg-3 text-right">{{ 'Phone' | translate }}:</label>
          <span class="dsp-inline-block col-sm-7 col-md-8 col-lg-9"
                ng-bind="empDetail.origModel.user.contactProfile['phoneNumberMobile']">
          </span>
        </li>
        <li class="ticket-info-row clearfix">
          <label class="col-sm-5 col-md-4 col-lg-3 text-right">{{ 'Email' | translate }}:</label>
          <span class="dsp-inline-block col-sm-7 col-md-8 col-lg-9"
                ng-bind="empDetail.origModel.user.contactProfile.email">
          </span>
        </li>
      </ul>
    </div>
    <!-- Additional information -->
    <ul uib-tabset class="employee-add-info col-xs-12 col-lg-6 m-b-md" type="pills">
      <li class="pull-left">{{ 'Show' | translate }}:</li>
      <li uib-tab index="0" heading="{{ 'Union info' | translate }}">
        <table class="employee-add-info-list">
          <tbody>
            <tr>
              <td>{{ 'Membership number' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Resigned date' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Enrolled Dept' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Shop steward courses' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Enrolled IE' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Agreement' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Enrolled LO' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Referred by' | translate }}:</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li uib-tab index="1" heading="{{ 'Working info' | translate }}">
        <table class="employee-add-info-list">
          <tbody>
            <tr>
              <td>{{ 'Employee number' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Workplace' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Position' | translate }}:</td>
              <td>-</td>
              <td>{{ 'VO Courses' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Company' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Shift' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Status' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Onshore / Offshore' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Department' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Seniority date' | translate }}:</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li uib-tab index="2" heading="{{ 'Privat info' | translate }}">
        <table class="employee-add-info-list">
          <tbody>
            <tr>
              <td>{{ 'Social security number' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Airport' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Date of birth' | translate }}:</td>
              <td>-</td>
              <td>{{ 'City\Post Place' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Privat Email' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Jacket size' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Address I' | translate }}:</td>
              <td>-</td>
              <td>{{ 'Individual paid' | translate }}:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>{{ 'Address II' | translate }}:</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <!-- Ticket tabs -->
    <div uib-tabset class="ticket-tabs employee-tabs col-xs-12 p-h-none" active="3">
      <div uib-tab index="$index" disable="tab.disabled" ng-repeat="tab in ::empDetail.tabs">
        <span uib-tab-heading><i class="fa" ng-class="::tab.icon"></i>{{ ::tab.title | translate }}</span>
        <div class="clearfix" ng-include="tab.template"></div>
      </div>
    </div>
  </div>
</div>
<!-- Dialog form for main profile info -->
<script type="text/ng-template" id="mainInfoEdit.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title" id="main_info_dlg_title" ng-bind="'Change main information' | translate"></h3>
  </div>
  <form name="form" class="form-horizontal modal-body" id="main_info_dlg_body">
    <div class="form-group">
      <label class="col-sm-2 control-label p-h-none">{{ 'Full name' | translate }}:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="firstname" ng-model="model.user.contactProfile.firstname">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="lastname" ng-model="model.user.contactProfile.lastname">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label p-h-none">{{ 'Phone' | translate }}:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="phone" ng-model="model.user.contactProfile.phoneNumberMobile">
      </div>
    </div>
    <div class="form-group m-b-none" ng-class="{'has-error': form.email.$touched && form.email.$invalid}">
      <label class="col-sm-2 control-label p-h-none">{{ 'Email' | translate }}:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" ng-model="model.user.contactProfile.email"
               ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 100}}">
        <span class="help-block" ng-show="form.email.$touched && form.email.$invalid"
              ng-bind="'This field must be in email format' | translate">
        </span>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()" ng-disabled="form.$invalid || form.$pristine"
            ng-bind="'Save' | translate">
    </button>
    <button class="btn btn-danger" type="button" ng-click="$dismiss()" ng-bind="'Cancel' | translate"></button>
  </div>
</script>
