<div class="wrapper wrapper-content  animated fadeIn" ng-controller="EmployeeCtrl">
	<div class="row">
        
        <!--EMPLOYEE PAGE start-->
		<div class="col-sm-12" ng-class="{'hidden-lg visible-xl col-xl-8' : activeEmp}">
			<div class="ibox">
				<div class="ibox-content">
					<!--button type="button" ng-click="open()" class="btn btn-sm btn-primary pull-right"><i class="fa fa-user-plus "></i> {{ 'Create user' | translate }}</button-->
					
                   <!--BUTTONS start-->

                    <!--settings btn-->
                    <div class="btn-group pull-right" uib-dropdown is-open="status.isopen" style="margin-left:10px;">
						<button id="single-button" type="button" class="btn btn-sm btn-default" uib-dropdown-toggle ng-disabled="disabled">
							<i class="fa fa fa-cog" style="padding-right:5px;"></i>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a href="#">Another action</a></li>
							<li role="menuitem"><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li role="menuitem"><a href="#">Send group email</a></li>
						</ul>
					</div>
                    
                    <!--create user btn-->
                    <div class="btn-group pull-right" uib-dropdown is-open="status.isopen">
						<button ng-click="createUserAction()" id="single-button" type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							<i class="fa fa-plus"></i> {{ 'Create user' | translate }}
                        </button>
					</div>
                    <!--BUTTONS end--> 
                    
                    <h2>{{ 'Employees' | translate }}</h2>
                    
                    <!--FILTERS start-->
                    <!--main search-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap" style="padding-bottom:20px;">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Search employee by name..." ng-model="globalSearch.$">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-outline"><i class="fa fa-search" style="padding-right:5px;"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--<input type="text" class="form-control" placeholder="Search employee by name..." ng-model="pageSize" ng-change="searchEmployees()">-->
                    
                    <!--btns-->
                    <button type="button" ng-click="isCollapsed = true"  ng-hide="isCollapsed==true" class="btn btn-primary">
                        <i class="fa fa-eye" style="padding-right:5px;"></i>Show filters
                    </button>
                    
                    <button type="button" ng-click="isCollapsed = false" ng-hide="isCollapsed==false" class="btn btn-warning">
                        <i class="fa fa-eye-slash" style="padding-right:5px;"></i>Hide filters
                    </button>
                    
                    <button type="button" class="btn btn-info" ng-hide="isCollapsed==false">
                        <i class="fa fa-floppy-o" style="padding-right:5px;"></i>Save filters
                    </button> 
                    
                    <!--advanced filters start-->
                    <div ng-if="isCollapsed">
                        
                        <!--top search fields-->
                        <form role="form" class="form-inline" style="padding-top:20px;">
                            
                            <!--employee-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Employee</h4>
                                <div class="input-group">
                                <input type="text" placeholder="Employee..." class="form-control">
                                </div> 
                            </div>
                            
                            <!--delegate role-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Delegate role</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Delegate role..." class="form-control">
                                </div>
                            </div>
                            
                            <!--telephone-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Telephone</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Telephone..." class="form-control">
                                </div> 
                            </div>
                            
                            <!--email-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Email</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Email..." class="form-control">
                                </div> 
                            </div>                                               
                        </form>
                        
                        
                        <!--bottom search fields-->
                        <form role="form" class="form-inline" style="margin-top:10px;">
                            
                            <!--union-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Union</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Union..." class="form-control">
                                </div> 
                            </div>
                            
                             <!--position-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Position</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Position..." class="form-control">
                                </div>
                            </div>
                            
                             <!--department-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Department</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Department..." class="form-control">
                                </div>
                            </div>
                            
                            <!--shift-->
                            <div class="form-group" style="margin-right:10px;">
                                <h4>Shift</h4>
                                <div class="input-group">
                                    <input type="text" placeholder="Shift..." class="form-control" />
                                </div>
                            </div>                                               
                        </form> 
                    </div>
                    <!--advanced filters end-->
                    
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite" style="margin-top:20px; font-weight:bold;">Found {{pageSize}} tickets</div>
                    
					<div class="clients-list">
                        
                        <!--TABS start-->
						<ul class="nav nav-tabs">
							<li ng-class="{'active' : tab == 1}">
                                <a ng-click="tab = 1" ng-init="tab = 1">
                                    <i class="fa fa-users"></i>{{ 'Employees' | translate }}
                                </a>
                            </li>
							<li ng-class="{'active' : tab == 2}">
                                <a ng-click="tab = 2">
                                    <i class="fa fa-briefcase"></i>{{ 'Delegates' | translate }}
                                </a>
                            </li>
						</ul>
                        
						<div class="tab-content">
                            
                            <!--tab 1 content-->
							<div id="tab-1" class="tab-pane active" ng-show="tab == 1">
								<div class="full-height-scroll" full-scroll>
									<div class="table-responsive">
										<table class="table table-striped table-hover">
											<thead>
												<tr>
                                                    <th class="text-center">
                                                        <i class="fa fa-check"></i>
                                                    </th>
                                                    <th style="margin-left:5px;">Employee</th>
													<th>Delegate role(s)</th>
													<th>Telephone</th>
													<th>Email</th>
													<th>Union</th>
													<th>Position</th>
													<th>Department</th>
													<th>Shift</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="emp in employees" my-element="emp" on-edit="openEmp(emp)">
                                                </tr>                                                
                                            </tbody>
										</table>
									</div>
								</div>
                                
                                <!--PAGINATION start-->
							     <uib-pagination class="pull-right" total-items="totalItems" ng-model="pageNr" items-per-page="pageSize" ng-change="changePage()"></uib-pagination>
                                <!--PAGINATION end-->
                                
							</div>
                            
                             <!--tab 2 content-->
							<div id="tab-2" class="tab-pane active" ng-show="tab == 2">
								<div class="full-height-scroll" full-scroll>
									<div class="table-responsive">
										<table class="table table-striped table-hover">
											<tbody>
												<tr ng-repeat="emp in employees">
													<td class="client-avatar">
                                                        <img alt="image" src="img/a2.jpg">
                                                    </td>
													<td>
                                                        <a ng-click="open(emp)" class="client-link">{{emp.user.contactProfile.firstname}} {{emp.user.contactProfile.lastname}}</a>
                                                    </td>
													<td>
														<span class="label label-primary">HKVO</span>
														<span class="label label-primary">VO</span>
														<span class="label label-primary">TV</span>
														<span class="label label-primary">SD</span>
														<span class="label label-primary">UR</span>
                                                    </td>
													<td>24.03.2015</td>
													<td>24.03.2015</td>
													<td>F(Shift)</td>
													<td>DEP</td>
													<td>Union</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
                                
                                <!--PAGINATION start-->
							     <uib-pagination class="pull-right" total-items="totalItems" ng-model="pageNr" items-per-page="pageSize" ng-change="changePage()"></uib-pagination>
                                <!--PAGINATION end-->
                                
                            </div>	                            
                        </div>
                    </div>
				</div>
			</div>
        </div>
		
       <!--EMPLOYEE PAGE end--> 
                                 
        <!--NEW EMPLOYEE start-->
        <div class="col-sm-12 col-lg-4 white-bg">
            <div class="contact-box center-version col-xl-12">
                <div class="contact-box-top">
                    <div class="visible-xl">
                        <!--messages-->
                        <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-comments"></i></button> <!--profile-->
                         <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-user"></i></button> <!--tickets-->
                         <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-list"></i></button> <!--edit-->
                         <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-pencil"></i></button> <!--print-->
                         <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-print"></i></button> <!--settings-->
                         <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-cogs"></i></button> <!--close-->
                         <button ng-click="close()" class="btn btn-danger btn-sm pull-right" type=
                        "button"><i class="fa fa-times" style=
                        "padding-right:5px;"></i>Close</button> <!--save-->
                         <button class="btn btn-primary btn-sm pull-right" style=
                        "margin-right:10px;" type="button"><i class=
                        "fa fa-times"></i>Save</button>
                    </div>
                    <div class="hidden-xl">
                        <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-comments"></i> Messages</button> <button class=
                        "btn btn-sm btn-white" type="button"><i class="fa fa-user"></i>
                        Profile</button> <button class="btn btn-sm btn-white" type=
                        "button"><i class="fa fa-list"></i> Tickets</button>
                        <button class="btn btn-sm btn-white" type="button"><i class=
                        "fa fa-pencil"></i> Edit</button> <button class=
                        "btn btn-sm btn-white" type="button"><i class=
                        "fa fa-print"></i> Print</button> <button class=
                        "btn btn-sm btn-white" type="button"><i class="fa fa-cogs"></i>
                        Settings</button> <button class=
                        "btn btn-w-m btn-danger btn-sm pull-right" type=
                        "button"><i class="fa fa-times"></i> Close</button>
                        <button class=
                        "btn btn-w-m btn-primary btn-sm pull-right m-r-sm" type=
                        "button"><i class="fa fa-times"></i> Save</button>
                    </div>
                </div><a class="p-n col-sm-6 col-xl-12">
                <div class="col-xl-12 col-sm-12">
                     <img alt="image" class="img-circle m-b-md img-responsive" src=
                "http://www.getitdone.org/assets/getitdone_userprofile_avatar_200-2ebbcf36868f1a66f6c9f2de131dba66.jpg">
                    <div class="form-group">
                        <label class="col-sm-2">Medlem</label> <select class=
                        "form-control m-b" name="account">
                            <option>
                                Ja
                            </option>
                            <option>
                                Nei
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Fagforening</label> <select class=
                        "form-control m-b" name="account">
                            <option>
                                IE industri Energi
                            </option>
                            <option>
                                Option2
                            </option>
                            <option>
                                Option3
                            </option>
                        </select>
                    </div>
                    
                    
                    <ul class="list-group clear-list">
                        <li class="list-group-item fist-item">
                            <input type="text" placeholder="Full navn..." ng-model="fullName" />
                            <strong>Full navn</strong>
                        </li>
                        
                         <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Stilling..." ng-model="position" />
                            <strong class="pull-right">Stilling</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Telefon..." ng-model="privateNumber" />
                            <strong>Telefon, privat</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Mobiltelefon..." ng-model="mobileNumber" />
                            <strong>Mobiltelefon</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="E-post..." ng-model="email" />
                            <strong>E-post</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="E-post..." ng-model="additionalEmail" />
                            <strong>E-post addresse 2</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Foretrukket informasjon..." ng-model="otherInfo" />
                            <strong>Foretrukket informasjon</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Firma..." ng-model="company" />
                            <strong>Firma</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Adresse..." ng-model="address" />
                            <strong>Adresse</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Innretning..." ng-model="innretning" /> <!--?translation-->
                            <strong>Innretning</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Skift..." ng-model="shift" />
                            <strong>Skift</strong>
                        </li>
                        
                        <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Individuelt avlonnet..." ng-model="avlonnet" /> <!--?translation-->
                            <strong>Individuelt avlonnet</strong>
                        </li>
                        
                         <li class="list-group-item">
                            <input class="pull-right" type="text" placeholder="Flypass..." ng-model="flypass" />
                            <strong>Flypass</strong>
                        </li>
                        
                      
                    </ul>
                    
                </div>
                <h3 class="m-b-xs"><strong>{{currentEmp.user.contactProfile.firstname}}
                {{currentEmp.user.contactProfile.lastname}}</strong></h3>
                <div class="font-bold">
                    {{currentEmp.union.name}}
                </div><input class="form-control" type="text"></a>
            </div>
            <div class="col-xl-6 col-sm-12 m-t-lg hidden-xl">
                Active<br>
                Union<br>
                Status<br>
            </div>
        </div>
    </div>
</div>
