<!-- Content box -->
<div class="ibox">
  <!-- Content box title -->
  <div class="ibox-title clearfix">
    <h3 class="ibox-title-text pull-left" ng-bind="'Tickets' | translate"></h3>
    <div class="pull-right">
      <a href="" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>&nbsp;{{ 'Add employee' | translate }}
      </a>
      <button class="btn btn-default"><i class="fa fa-cog"></i></button>
    </div>
  </div>
  <!-- Content box body -->
  <div class="ibox-content employees-view clearfix">
    <!-- Employee search -->
    <div class="form-group employees-view col-xs-12">
      <div class="input-group">
        <label class="input-group-addon label" for="employee_search"><b>{{ 'Search' | translate }}:</b></label>
        <input type="text" class="form-control" id="employee_search">
        <span class="input-group-addon fa fa-search"></span>
      </div>
    </div>
    <!-- Employees list container -->
    <div class="col-xs-12 table-responsive">
      <!-- Employees list -->
      <table class="employees-list table table-stripped">
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="field in ::emp.empFields">
              <span ng-bind="::field.title | translate"></span>
            </th>
          </tr>
        </thead>
        <tbody ng-show="emp.loadStats.list === 1">
          <tr class="employee-row" ng-repeat="emp in emp.emps" ng-init="pfile = emp.user.contactProfile">
            <td>
              <input class="green-check" type="checkbox">
            </td>
            <td><a href="" ng-bind="::emp.user | crmUserDisplayName"></a></td>
            <td ng-bind="::pfile.phoneNumberMobile"></td>
            <td ng-bind="::pfile.email"></td>
            <td ng-bind="::emp.union.name"></td>
            <td ng-bind="::emp.position.name"></td>
            <td ng-bind="::emp.department.name"></td>
            <td ng-bind="::emp.shift.name"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Loading status -->
    <div class="employees-list-pholder col-xs-12" data-ng-show="emp.loadStats.list === 2">
      <h4 class="employees-list-pholder-content">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin valign-middle"></i>
        <span class="valign-middle">{{ 'Loading employees' | translate }}...</span>
      </h4>
    </div>
    <!-- Error box -->
    <div class="employees-list-pholder col-xs-12" data-ng-show="emp.loadStats.list === 0">
      <div class="employees-list-pholder-content">
        <h4>
          <span class="fa fa-ban text-danger"></span>
          {{ 'Unable to get employees list. Please try again.' | translate }}
        </h4>
        <button class="btn btn-default" type="button" data-ng-bind="'Try again' | translate"
                data-ng-click="emp.getEmps(emp.pages.current)">
        </button>
      </div>
    </div>
    <!-- Empty employees list -->
    <div class="employees-list-pholder col-xs-12" data-ng-show="emp.loadStats.list === 1 && emp.emps.length === 0">
      <div class="employees-list-pholder-content">
        <h4 data-ng-bind="'There are no employees' | translate"></h4>
        <a href="" class="btn btn-primary" data-ng-bind="'Create' | translate"></a>
      </div>
    </div>
    <!-- Employees and pagination -->
    <div class="col-xs-12 clearfix">
      <ul class="employees-list-pagination" uib-pagination ng-model="emp.pages.current"
          items-per-page="emp.pages.size" max-size="4" boundary-link-numbers="true"
          total-items="emp.pages.itemsTotal" previous-text="&#xf053;" next-text="&#xf054;">
      </ul>
    </div>
  </div>
</div>
